<div class="dashboard">
  
  <div class="row">
    
    <div class="classifications category">
      <h3 class="title">Classifications</h3>
      <div class="total">
        <span class="count">0</span>
        <span class="label">Total</span>
      </div>
      
      <div class="chart"></div>
    </div>
    
    <div class="users category">
      <h3 class="title">Users</h3>
      <div class="total">
        <span class="count">0</span>
        <span class="label">Total</span>
      </div>
      
      <div class="chart"></div>
    </div>
    
  </div>
  
  <div class="row">
    
    <div class="analytics category">
      
      <h3 class="title">Site Traffic</h3>      
      <div class="total">
        <span class="count">0</span>
        <span class="label">Total pageviews in the last 30 days</span>
      </div>
      
      <div class="chart"></div>
      
    </div>
    
    <div class="subjects category">
      
      <h3 class="title">Subjects</h3>
      <div class="total">
        <span class="count">0</span>
        <span class="label">Total</span>
      </div>
      
      <div class="chart"></div>
      
    </div>
    
  </div>
  
</div>