{
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", {
      "spec": true
    }]
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "env": {
    "testing": {
      "plugins": ["transform-decorators-legacy"],
      "presets": ["es2015", "react"]
    }
  }
}