.transcribe-tool
  position absolute
  min-width 200px
  background-color rgba(255,255,255,0.75)
  box-shadow 0 0 5px 3px rgba(0,0,0,.4)
  border-radius 6px
  line-height 2em
  cursor move

  .modal-body
    input
      float left
      outline none
    .input-field
      display none // auto hide
      input
        width 360px
        height 40px
        font-size 1.5em
        display block
        opacity 0.7

        &.input-placeholder
          color red
        &:focus
          opacity 1
      label
        display inherit
        color black
        text-align left

      &.active
        display block
      textarea
        font-size 1.25em
        resize none
        width 400px
        height 140px
        background-color #fff
        padding 10px
        outline none
        color #000
        opacity 0.5
        &:focus
          opacity 1.0
        &::-webkit-input-placeholder
          color #000
          opacity 0.5
        &::-moz-placeholder
          color #000
          opacity 0.5
        &:-ms-input-placeholder
          color #000
          opacity 0.5
        &:-o-input-placeholder
          color #000
          opacity 0.5

  &.composite
    .modal-body

      .input-field
        label
          display block
          clear left
          padding-top 0.8em
          line-height 1.4em

  .button
    outline none
    @extends $button
    color #fff
    border-radius 4px
    padding 5px
    margin 2px
    padding-left 20px
    padding-right 20px
    width auto
    height 30px
    text-decoration none
    font-size 12px
    cursor pointer
    opacity 0.75
    &.prev
      background-color #ff5151
    &.next
      background-color #3f5765
    &.done
      background-color #3f5765
