<div id="about-page"> 
  <nav>
    <ul>
      <li><a href="#about-intro" class="about-nav selected-content">Intro</a></li>
      <li><a href="#about-questions" class="about-nav" >Research Questions</a></li>
      <li><a href="#about-transcription-guide" class="about-nav" >Transcription Guide</a></li>
      <li><a href="#about-team" class="about-nav" >Our Team</a></li>
    </ul>
    
  </nav>


  <div id="about-intro" class="selected-content" >
    <h2>Measuring the ANZACs</h2>
    <p>
      The Measuring the ANZACs project brings together an international team of researchers, community connections around New Zealand’s military history from the Auckland War Memorial Museum, and the power of the Zooniverse community to explore, analyze, and digitize original World War I personnel files from Archives New Zealand.
    </p>
    <p>
      Data gathered from Measuring the ANZACs will be used for three main purposes:
      <ul id="goals-list">
        <li>
          To create a complete and rich index of persons who served in the New Zealand military in World War I and the South African War (also called the Second Boer War).
        </li>
        <li>To support academic research on the health of New Zealanders led by a team of researchers at the Universities of Minnesota, Guelph and Waikato.</li>
        <li>To provide an ongoing platform for historical and genealogical research on NZ’s World War I soldiers by citizens and scientists around the world.</li>
      </ul>
    </p>

    <p>
      Measuring the ANZACs builds on work done by Archives New Zealand to complete an organized digital collection of all the pages in the personnel files for people serving in the New Zealand military in South Africa and World War I. Complete copies of personnel files are available on this website, the Archives New Zealand website, and Discovering the ANZACs. They can be downloaded free of charge on the Archives New Zealand website. 
    </p>

    <p>
      All of the data collected by Measuring the ANZACs will be made freely available to the public for research. Periodic releases of the data will be released throughout the life of the project by the University of Minnesota and the Auckland War Memorial Museum. Researchers interested in data updates and discussing the extensive possibilities of research with the data are encouraged to contact the research team <a href="mailto:eroberts@umn.edu">by email</a> or on the Discourse discussion boards. When records have been created for all who served, complete open-sourced copies of the data will be available through the University of Minnesota, Archives New Zealand and the Auckland War Memorial Museum’s Cenotaph database. 
      
    </p>
    <h2>Personnel files</h2>
    <p>
    Personnel files provide a thorough description of an individual’s military service from enlistment, through wartime, and beyond. The archival copies of personnel files reflect their working origins in multiple locations and compilation into one file at various points during and after the war. Thus, the order of documents within the files varies; a key part of this project is identifying what documents are present for any given individual.
    </p>

  <h4>Key types of documents within the files include:</h4>
    <p> 
      <span class="keyword">Attestation papers:</span> Filled out at enlistment, these documents provide a rich description of an individual when he (and sometimes she) entered the military, recording their identity, social and economic status, next of kin, and health information. They also fulfil a legal purpose wherein the individual swears they will serve in the military and follow orders.
    </p>

    <p>
      <span class="keyword">History sheets: </span> These papers record the major events in an individual’s military service, including embarkation from New Zealand, service in various theatres of war, wounds, sickness, capture and release as a prisoner of war, and death during the war.
    </p>

    <p>
      <span class="keyword">Death notifications:</span> Created after the war, these papers were sent from the central office to the military to inform them of a returned New Zealand veteran’s death.
    </p>

    <p>
      Archives New Zealand has digitized all of the pages in the personnel files, and we know the names of the individuals in a file and their serial number. Beyond that, we know little about the content of an individual file, and even what types of documents are present in the files. 
    </p>

  </div>

  
  <div id="about-questions">
    <h2>Our questions and research topics</h2>
    <p>
      The personnel files were created for the needs of the military at the time. They contain a wealth of information about social connections, economic attainment, and demographic behavior and experiences, that make them internationally significant for research.  
    </p>

    <p>
      Personnel records are particularly valuable for understanding New Zealand society in the early twentieth century. No other available historical source provides as much information about as many people. In North America, Britain, and Ireland, historical census manuscripts were retained to document the lives of ordinary people. But in New Zealand and Australia, the census returns were destroyed after the government had compiled its tabulations at the time. 
    </p>

    <p>
      Around half of the men eligible to serve in the military during World War I did so, representing 10 percent of the New Zealand population at the time. Questions in the personnel files about soldiers’ next of kin and employers extend the reach of the files beyond the men who served.   
    </p>

    <p>
      Measuring the ANZACs grows out of a project by an international team of researchers to measure and understand the health of New Zealanders since the 19th century. The researchers in the team had previously created a partial database of 24,000 New Zealand soldiers from World War I. Seeing the potential of this rich data source to answer their own questions and those of others, they plan to use this data to examine a range of questions about social and economic attainment and health. 
    </p>
    <p>
      <span class="keyword">Stature and weight:</span> Our adult height reflects not only the genetic background of our ancestors, but also the conditions we lived in as children and teenagers when we were growing up. If economic or health conditions are particularly bad for a country, or groups within a country, the average height of the people affected often declines. Weight, too, reflects something about our economic and health environment, but closer to the time of measurement. 
    </p>
    <p>
      Men who served in the New Zealand Expeditionary Force had grown up in a wide variety of circumstances. Some were raised in rural towns and stayed there as farmers or farm laborers. Others grew up in the city, working in factories or offices. Still others were born into Māori communities, and grew up in a period where Māori lost a significant amount of land. New Zealand’s World War I soldiers has also experienced events such as the Russian flu epidemic of 1889, a depression in the 1890s, and a boom in export prices in the early twentieth century that influenced the food they could eat, the illnesses they suffered, and the jobs they did as teenagers and young men. By examining the height and weight of men with different backgrounds and experience, we can understand how healthy New Zealanders were in the early 20th century, and which groups had better or worse health. 
    </p>
    <p>
      <span class="keyword">Death and survival:</span> The personnel files record the wounding, sickness, and deaths of men during service, and for many men who survived, they also record deaths well into the late 20th century. We know that many (16,302) of the men serving died in service or from wounds, and we know the battles in which they died. A complete database of soldiers and their deaths will help us understand what influenced men’s chance of death or survival during the war.  
    </p>
    <p>
      Although most of the soldiers returned, a very high proportion were wounded (40,362). We can use the information on soldiers’ background, wartime experiences, and when they died to understand how early adult health (recorded on the attestation forms) and wounds and disability (recorded on the history sheet) influenced how long soldiers lived after the war. Did men overcome their experiences, or were they affected through the rest of their lives? 
    </p>
    <p>
      <span class="keyword">Migration:</span> The personnel records identify where a recruit was born, where he enlisted, the address of his current employer, and where he served. On some versions of the attestation form we find his parents’ birthplaces and his parents’ addresses. Taken together, these questions can provide significant information about migration into and around New Zealand between the time recruits were born and when they began service. For men who the research team link to death records, we have further information about migration. 
    </p>
    <p>
      <span class="keyword">Social networks:</span> The records identify parents, spouses, and employers for most of the men who enlisted. Men are then followed into their military units. We can use this information to identify people who came into service together, and who served together and what happened to them. Researchers in the academy and community can connect this information with other research resources, such as newspaper reports in <a target="_blank" href="http://paperspast.natlib.govt.nz/">PapersPast</a>, to build up a deeper picture of social connections in early 20th-century New Zealand. 
    </p>
    <p>
      <span class="keyword">Māori history:</span> Māori men served in the <a target="_blank" href="http://www.teara.govt.nz/en/nga-pakanga-ki-tawahi-maori-and-overseas-wars/page-3">Pioneer Battalion</a>, yet the research team have seen records of men with Māori parents serving in other units. A complete database of the New Zealand World War I soldiers with parents and spouses’ names will allow us to see connections between Māori and Pākehā communities that are hidden in other sources. The database will also allow us to understand the social and economic standing of Māori men in this time period, such as what jobs they were doing and where they were living.
    </p>
  </div>
  <div id="about-team" >
    <h2>ORGANIZATIONS</h2>
      <p>
      <span class="keyword">Archives New Zealand Te Rua Mahara o te Kāwanatanga</span><br><a target="_blank" href="http://archives.govt.nz/">Archives New Zealand</a> is the official archival agency of the New Zealand government, charged with preserving significant government records. It has branches in Auckland, Wellington, Christchurch, and Dunedin, and a growing digital presence. Archives New Zealand accepted the <a target="_blank" href="http://archives.govt.nz/world-war-one">World War I personnel files</a> from the <a href="http://www.nzdf.mil.nz/">New Zealand Defence Force</a> in 2006, after the passing of the last surviving New Zealand Expeditionary Force member. The records were the largest ever accession to the Archives New Zealand collection. Archives New Zealand completed scanning the entirety of the personnel files in 2014, in time for the centenary of the outbreak of World War I. Digital copies of all personnel files are available from Archives New Zealand on their Archway website. At the conclusion of the project Archives New Zealand will retain a copy of the complete database for preservation and integration with the images of the files. 
      </p>
      <p><span class="keyword">Auckland War Memorial Museum Tamaki Paenga Hira</span><br>The <a target="_blank" href="http://www.aucklandmuseum.com/">Auckland War Memorial Museum</a> opened in 1929 as a memorial to the men of the Auckland region who had died in the Great War. As well as honoring the contribution of New Zealanders who have served in armed conflicts, the Museum is the major historical and natural history museum for the Auckland region. The Museum engages with the public in creating the Cenotaph database of New Zealand soldiers, which includes material similar to the Zooniverse data collection. Throughout the project data from Zooniverse will update and expand the records in Cenotaph. The Museum will host a copy of the final database.</p>
      <p><span class="keyword">Zooniverse</span><br><a target="_blank" href="https://www.zooniverse.org">Zooniverse</a> was established in 2007 to use the efforts and ability of volunteers to help scientists and researchers deal with the flood of data that confronts them. It is a collaboration between universities and museums, led by the University of Oxford and the Adler Planetarium in Chicago, which creates citizen science and humanities projects. To date, more than a million people have used Zooniverse websites to discover planets, transcribe ancient papyri and keep an eye on plankton. Measuring the ANZACs builds on the team’s experience with Operation War Diary and the award-winning Old Weather project, which has mined more than a million pages drawn from 19th and early 20th century ship's logs in order to find information of interest to climate scientists and historians.</p>
      <p><span class="keyword">Minnesota Population Center</span><br>The <a target="_blank" href="https://www.pop.umn.edu/">Minnesota Population Center</a> at the University of Minnesota is the world’s leading creator and distributor of historical and contemporary demographic data, with public use data on more than two billion individuals from censuses and surveys from 1703 to the present. The Minnesota Population Center’s experience in cleaning, coding, harmonizing, and distributing socio-economic and health data will contribute to the creation of a public-use version of the data for use by researchers around the world.
      </p>
      <h2>TEAM</h2>
      <p>
      Measuring the ANZACs builds on existing research with New Zealand military records by Kris Inwood (University of Guelph), Les Oxley (University of Waikato), and Evan Roberts (University of Minnesota). The team have used a smaller collection of New Zealand military records from World War I and other conflicts to study health and mortality in New Zealand since the mid-19th century. 
      </p>
      <p>
      <a target="_blank" href="http://www.evanroberts.net/">Evan Roberts</a> is a social and economic historian at the University of Minnesota. He grew up in New Zealand and taught at Victoria University of Wellington for four years. His research interests in soldiers in New Zealand, children’s growth, and women in work in America are more coherent than they first appear. Outside of history, Evan runs, takes photos, and listens to Bob Dylan, though rarely managing to combine all three of these interests.
      </p>
      <p>
      <a target="_blank" href="http://krisinwood.ca/">Kris Inwood</a> is a historian and economist at the University of Guelph who examines economy and health for indigenous and settler populations in Australia, Canada, New Zealand and South Africa. His most recent work, Lives in Transition: Longitudinal Analysis from Historical Sources (McGill-University Press 2015) builds on collaborations with family historians and combines genealogical and scholarly analysis. 
      </p>
      <p> 
      <a target="_blank" href="http://www.mngt.waikato.ac.nz/staff%20list/staffhome.asp?user=loxley">Les Oxley</a> is an economist and econometrician at the University of Waikato, New Zealand.  Born in the north of England, he spent 19 years at the University of Edinburgh, moving to New Zealand in 1996. His research interests are broad, including time series econometric theory, environmental history, scientometrics, economic history and the economic drivers of innovation. Les relaxes by walking his dogs, gardening, looking for the latest gadgets (especially those that are crowd-funded) and travelling.
      </p>
  </div>
  <div target="_blank" id="about-transcription-guide">
    <h2>A Guide to Transcription</h2>
    <p>Accurate transcription is central to the success of our efforts in Measuring the ANZACs. Complete accuracy in transcribing handwritten historical material is impossible. Put simply, sometimes the handwriting is too messy or too faded to make sense of what is written. You will notice that the handwriting in the files varies from page to page, and file to file. It is also quite different from the handwriting we may be used to today.</p>

    <p>The handwriting of the World War I era, written by people educated in the nineteenth and early twentieth century, was more flourishing than the handwriting of people growing up after World War II. Remember too that some of these forms were filled out in less than ideal conditions: halls with lines of nervous men being examined for their suitability to fight, hospitals, military barracks. In short, you will not be able to read everything and that’s OK. </p>

    <p>You will find that your ability to read this handwriting improves as you spend more time with it.</p>
     
    <p>Transcription of different types of characters: The information we are transcribing is composed of both numbers (height and weight, number of children) and letters (place names, people’s names), and less frequently combinations of both (military units or groups such as “7th Reinforcements” or “3rd Battalion”.</p>
    
    <p>Accuracy on a single character is most important for the numeric fields. A person who weighing 175 pounds is significantly heavier than someone weighing 145 pounds. By contrast, typing “Dundin” instead of “Dunedin” has little effect on research. When we examine all the records for where people were born or lived we’ll see the large number of “Dunedin”s, a small number of “Dundin”s and by the similarity of the words know what is meant.</p>
    
    <p>In general numbers are often easier to recognize. However in handwriting it is possible to mistake a 1 for a 2, a 4 for a 7, and 5 for 8. It is also easy to mistakenly type one key above or below the one you meant to type, turning someone into an 8 foot 8 inch giant instead of a 5 foot 8 inch average men.</p>

    <p>Values to expect: In fields requiring numbers it is often useful to ask oneself “what values should I expect” and compare what one types to that. In Measuring the ANZACs you will see that nearly all the dates for events connected with the military occur between 1899 and 1902 (South African War) or 1914 and 1919 (World War I). Men who are enlisting in World War I will often have been born between 1880 and 1899, though there are smaller numbers born before and after those dates.</p>

    <p>For letters, give the response your best effort. You will often be able to identify most of the characters and then try to understand what the hard to read letters are by knowing what to expect.</p>   

    <span class="keyword">Transcription help for particular types of questions</span><br><p>Many of the questions we are transcribing in Measuring the ANZACs have similar types of answers. For example, in multiple places people are asked about a New Zealand address, many fields on the History sheet ask for a theater of combat to be identified. Thus, we have grouped:</p>
    <p><span class="keyword">Dates</span>: Dates occur in many places. Abbreviated dates are in the form day/month/year. Please type in dates as they are written on the page, and do not standardize to any format.</p> 

    <p><span class="keyword">Place names on attestations:</span> Many place names will be New Zealand locations, particularly for addresses and employers. Birthplaces will come from around the world. New Zealand place names will include Māori place names. 

    <p><span class="keyword">Nationality</span>: You will see that most people are New Zealanders, Australians, or British subjects. 

    <p><span class="keyword">Medical examination fields:</span></p>
    <ul>

      <li><span class="keyword">Apparent age:</span> Men will typically be between the ages of 15 and 65, with most in their 20s or 30s.</li>

      <li><span class="keyword">Height (feet):</span> Height in feet potentially ranges from 4 to 7, with most being 5 or 6.</li>

      <li><span class="keyword">Height (inches):</span> Ranges from 0-12. You will notice fractions. Please enter these with a slash, e.g 3/4 for ¾</li>

      <li><span class="keyword">Weight:</span> Weight is measured in stone and 0-14 pounds, or whole pounds. Weight in stone should range from 7 to 30, with most values between 10 and 15. In whole pounds it will be unusual to see values above 200 and we would not expect values over 300 or below 80.</p> 
    </ul>

    <p><span class="keyword">Place names on history sheets:</span> These will include a mixture of New Zealand and overseas place names. New Zealand forces fought in multiple theatres of the war including Samoa, Egypt, Sinai, Palestine, the Dardanelles (Gallipoli), and France.</p>     
  </div>

</div>
