<div id="about-page"> 
  <div id="about-intro">  
    <p>
      The “Measuring the ANZACs” project brings together an international team of researchers, community connections around New Zealand’s military history from the Auckland War Memorial Museum, and the power of the Zooniverse community to explore, analyze, and digitize original World War I personnel files from Archives New Zealand.
    </p>
    <p>
      Data gathered from Measuring the ANZACs will be used for three main purposes:
      <ul>
        <li>
          To create a complete and rich index of persons who served in the New Zealand military in World War I and the South African War (also called the Second Boer War).
        </li>
        <li>To support academic research on the health of New Zealanders led by a team of researchers at the Universities of Minnesota, Guelph and Waikato.</li>
        <li>To provide an ongoing platform for historical and genealogical research on NZ’s World War I soldiers by citizens and scientists around the world.</li>
      </ul>
    </p>

    <p>
      Measuring the ANZACs builds on work done by Archives New Zealand to complete an organized digital collection of all the pages in the personnel files for people serving in the New Zealand military in South Africa and World War I. Complete copies of personnel files are available on this website, the Archives New Zealand website, and Discovering the ANZACs. They can be downloaded free of charge on the Archives New Zealand website. 
    </p>


    <p>
      All of the data collected by Measuring the ANZACs will be made freely available to the public for research. Periodic releases of the data will be released throughout the life of the project by the University of Minnesota and the Auckland War Memorial Museum. Researchers interested in data updates and discussing the extensive possibilities of research with the data are encouraged to contact the research team by email or on the Talk discussion boards. When records have been created for all who served, complete open-sourced copies of the data will be available through the University of Minnesota, Archives New Zealand and the Auckland War Memorial Museum’s Cenotaph database. 
      
    </p>
  </div>

  <div id="about-content"> 
    <h2>Personnel files</h2>
    <p>
    Personnel files provide a thorough description of an individual’s military service from enlistment, through wartime, and beyond. The archival copies of personnel files reflect their working origins in multiple locations and compilation into one file at various points during and after the war. Thus, the order of documents within the files varies; a key part of this project is identifying what documents are present for any given individual.
    </p>

  <h3>Key types of documents within the files include:</h3>
    <p>
      Attestation papers: Filled
       out at enlistment, these documents provide a rich description of an individual when he (and sometimes she) entered the military, recording their identity, social and economic status, next of kin, and health information. They also fulfil a legal purpose wherein the individual swears they will serve in the military and follow orders.
    </p>

    <p>
      History sheets: These papers record the major events in an individual’s military service, including embarkation from New Zealand, service in various theatres of war, wounds, sickness, capture and release as a prisoner of war, and death during the war.
    </p>

    <p>
      Death notifications: Created after the war, these papers were sent from the central office to the military to inform them of a returned New Zealand veteran’s death.
    </p>

    <p>
      Archives New Zealand has digitized all of the pages in the personnel files, and we know the names of the individuals in a file and their serial number. Beyond that, we know little about the content of an individual file, and even what types of documents are present in the files. 
    </p>
  </div>

  
  <div id="about-questions">
    <h2>Our questions and research topics</h2>
    <p>
      The personnel files were created for the needs of the military at the time. They contain a wealth of information about social connections, economic attainment, and demographic behavior and experiences, that make them internationally significant for research.  
    </p>

    <p>
      Personnel records are particularly valuable for understanding New Zealand society in the early twentieth century. No other available historical source provides as much information about as many people. In North America, Britain, and Ireland, historical census manuscripts were retained to document the lives of ordinary people. But in New Zealand and Australia, the census returns were destroyed after the government had compiled its tabulations at the time. 
    </p>

    <p>
      Around half of the men eligible to serve in the military during World War I did so, representing 10 percent of the New Zealand population at the time. Questions in the personnel files about soldiers’ next of kin and employers extend the reach of the files beyond the men who served.   
    </p>

    <p>
      Measuring the ANZACs grows out of a project by an international team of researchers to measure and understand the health of New Zealanders since the 19th century. The researchers in the team had previously created a partial database of 24,000 New Zealand soldiers from World War I. Seeing the potential of this rich data source to answer their own questions and those of others, they plan to use this data to examine a range of questions about social and economic attainment and health. 
    </p>
    <p>
      Stature and weight: Our adult height reflects not only the genetic background of our ancestors, but also the conditions we lived in as children and teenagers when we were growing up. If economic or health conditions are particularly bad for a country, or groups within a country, the average height of the people affected often declines. Weight, too, reflects something about our economic and health environment, but closer to the time of measurement. 
    </p>
    <p>
      Men who served in the New Zealand Expeditionary Force had grown up in a wide variety of circumstances. Some were raised in rural towns and stayed there as farmers or farm laborers. Others grew up in the city, working in factories or offices. Still thers were born into Māori communities, and grew up in a period where Māori lost a significant amount of land. New Zealand’s World War I soldiers has also experienced events such as the Russian flu epidemic of 1889, a depression in the 1890s, and a boom in export prices in the early twentieth century that influenced the food they could eat, the sicknesses they suffered, and the jobs they did as teenagers and young men. By examining the height and weight of men with different backgrounds and experience, we can understand how healthy New Zealanders were in the early 20th century, and which groups had better or worse health. 
    </p>
    <p>
      Death and survival: The personnel files record the wounding, sickness, and deaths of men during service, and for many men who survived, they also record deaths well into the late 20th century. We know that many (16,302) of the men serving died in service or from wounds, and we know the battles in which they died. A complete database of soldiers and their deaths will help us understand what influenced men’s chance of death or survival during the war.  
    </p>
    <p>
      Although most of the soldiers returned, a very high proportion were wounded (40,362). We can use the information on soldiers’ background, wartime experiences, and when they died to understand how early adult health (recorded on the attestation forms) and wounds and disability (recorded on the history sheet) influenced how long soldiers lived after the war. Did men overcome their experiences, or were they affected through the rest of their lives? 
    </p>
    <p>
      Migration: The personnel records identify where a recruit was born, where he enlisted, the address of his current employer, and where he served. On some versions of the attestation form we find his parents’ birthplaces and his parents’ addresses. Taken together, these questions can provide significant information about migration into and around New Zealand between the time recruits were born and when they began service. For men who the research team link to death records, we have further information about migration. 
    </p>
    <p>
      Social networks: The records identify parents, spouses, and employers for most of the men who enlisted. Men are then followed into their military units. We can use this information to identify people who came into service together, and who served together and what happened to them. Researchers in the academy and community can connect this information with other research resources, such as newspaper reports in PapersPast, to build up a deeper picture of social connections in early 20th-century New Zealand. 
    </p>
    <p>
      Māori history: Māori men served in the Pioneer Battalion, yet the research team have seen records of men with Māori parents serving in other units. A complete database of the New Zealand World War I soldiers with parents and spouses’ names will allow us to see connections between Māori and Pākehā communities that are hidden in other sources. The database will also allow us to understand the social and economic standing of Māori men in this time period, such as what jobs they were doing and where they were living.
    </p>
  </div>

</div>
