<div id="field-guide">
  <nav>
    <ul>
      <li><a href="#about-transcription-guide" class="about-nav selected-content" >Transcription Guide</a></li>
      <li><a href="#page-type-guide" class="about-nav">Personnel Files Guide</a></li>
    </ul>
  </nav>

  <div id="about-transcription-guide" class="selected-content">
    <h2>A Guide to Transcription</h2>
    <p>Accurate transcription is central to the success of our efforts in Measuring the ANZACs. Complete accuracy in transcribing handwritten historical material is impossible. Put simply, sometimes the handwriting is too messy or too faded to make sense of what is written. You will notice that the handwriting in the files varies from page to page, and file to file. It is also quite different from the handwriting we may be used to today.</p>

    <p>The handwriting of the World War I era, written by people educated in the nineteenth and early twentieth century, was more flourishing than the handwriting of people growing up after World War II. Remember too that some of these forms were filled out in less than ideal conditions: halls with lines of nervous men being examined for their suitability to fight, hospitals, military barracks. In short, you will not be able to read everything and that’s OK. </p>

    <p>You will find that your ability to read this handwriting improves as you spend more time with it.</p>
     
    <p>Transcription of different types of characters: The information we are transcribing is composed of both numbers (height and weight, number of children) and letters (place names, people’s names), and less frequently combinations of both (military units or groups such as “7th Reinforcements” or “3rd Battalion”.</p>
    
    <p>Accuracy on a single character is most important for the numeric fields. A person who weighing 175 pounds is significantly heavier than someone weighing 145 pounds. By contrast, typing “Dundin” instead of “Dunedin” has little effect on research. When we examine all the records for where people were born or lived we’ll see the large number of “Dunedin”s, a small number of “Dundin”s and by the similarity of the words know what is meant.</p>
    
    <p>In general numbers are often easier to recognize. However in handwriting it is possible to mistake a 1 for a 2, a 4 for a 7, and 5 for 8. It is also easy to mistakenly type one key above or below the one you meant to type, turning someone into an 8 foot 8 inch giant instead of a 5 foot 8 inch average men.</p>

    <p>Values to expect: In fields requiring numbers it is often useful to ask oneself “what values should I expect” and compare what one types to that. In Measuring the ANZACs you will see that nearly all the dates for events connected with the military occur between 1899 and 1902 (South African War) or 1914 and 1919 (World War I). Men who are enlisting in World War I will often have been born between 1880 and 1899, though there are smaller numbers born before and after those dates.</p>

    <p>For letters, give the response your best effort. You will often be able to identify most of the characters and then try to understand what the hard to read letters are by knowing what to expect.</p>   

    <span class="keyword">Transcription help for particular types of questions</span><br><p>Many of the questions we are transcribing in Measuring the ANZACs have similar types of answers. For example, in multiple places people are asked about a New Zealand address, many fields on the History sheet ask for a theater of combat to be identified. Thus, we have grouped:</p>
    <p><span class="keyword">Dates</span>: Dates occur in many places. Abbreviated dates are in the form day/month/year. Please type in dates as they are written on the page, and do not standardize to any format.</p> 

    <p><span class="keyword">Place names on attestations:</span> Many place names will be New Zealand locations, particularly for addresses and employers. Birthplaces will come from around the world. New Zealand place names will include Māori place names. 

    <p><span class="keyword">Nationality</span>: You will see that most people are New Zealanders, Australians, or British subjects. 

    <p><span class="keyword">Medical examination fields:</span></p>
    <ul>

      <li><span class="keyword">Apparent age:</span> Men will typically be between the ages of 15 and 65, with most in their 20s or 30s.</li>

      <li><span class="keyword">Height (feet):</span> Height in feet potentially ranges from 4 to 7, with most being 5 or 6.</li>

      <li><span class="keyword">Height (inches):</span> Ranges from 0-12. You will notice fractions. Please enter these with a slash, e.g 3/4 for ¾</li>

      <li><span class="keyword">Weight:</span> Weight is measured in stone and 0-14 pounds, or whole pounds. Weight in stone should range from 7 to 30, with most values between 10 and 15. In whole pounds it will be unusual to see values above 200 and we would not expect values over 300 or below 80.</p> 
    </ul>

    <p><span class="keyword">Place names on history sheets:</span> These will include a mixture of New Zealand and overseas place names. New Zealand forces fought in multiple theatres of the war including Samoa, Egypt, Sinai, Palestine, the Dardanelles (Gallipoli), and France.</p>     
  </div>
  <div id="page-type-guide" >
    <h2>Personnel Files</h2>
    <p>Personnel files include a variety of types of documents. The first step in creating a rich transcription of the files is identifying what type of document a piece of information comes from. In the future, identifying what types of documents are present in any given file will allow us to develop follow-up studies of particular groups.</p>
    <p>
    The order of documents within a personnel file is not consistent, reflecting the creation of these files across an individual’s enlistment, wartime service, and return to New Zealand. After the war, the files continued to be used by the New Zealand Defence Force in the administration of returned soldiers' benefits and the award of medals among other uses. The material was transferred to Archives New Zealand in 2006, which scanned the material in a project that spanned several years. Because of the varied composition of the files and the long working life of the documents before being archived, it is unsurprising that we encounter documents in different orders. 
    </p>
    
    <div id="accordion">
      <h3>History Sheet & Statement of Services</h3>
      <div>
        <div id="att_ex" >
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717394" alt="history sheet"> <br>
          <img src="https://s3.amazonaws.com/anzac-project/R10927559/FL9809225" alt="statement of services">
        </div>
        <p>The History sheet, which often appears early in the file records, identifies information about the individual, their occupation, and the address of their next of kin, followed by a structured record of events that happened to individuals from enlistment through demobilization. The categories of events recorded on the History sheet are service locations and dates, wounds, sickness, killed in action, death from wounds or sickness, whether a person was formally missing in action, prisoner, injuries in service, and discharge. The first page of the History sheet is identifiable from being headed with that title, and for some periods of the war appears with the annotation “E.F. Form No. 3A” in the top right corner.</p>
        <p>The second page of the History sheets is headed Statement of Services and records in more detail the career path of the soldier, what ranks they attained, and which units they served in. The information on the History sheet will be used by researchers to summarize men's wartime experience in order to study what influenced men's health and life expectancy after the war.</p>
        <p>The bottom half of the Statement of Services sheet records instances of misconduct in a section headed Conduct. In the present project we are asking citizen scientists to indicate whether any information appears in this section. We are not currently transcribing the information about misconduct, but by identifying which files have conduct information we will be able to return to these men's files more easily in the future.</p>
        <p>Both the History Sheet and the Statement of Services are sometimes partially obscured with pesky Sticky Notes. We ask that you indicate when a page is covered by a Sticky Note. The digitization team at Archives New Zealand have scanned pages with Sticky Notes multiple times, so that information above the Sticky Note and information hiding under it can be seen. Thus, there can be multiple images of the same page. You may have to move Back or Next to find marks and transcribe when a Sticky Note covers information on the page.</p>
      </div>
      <h3>Attestation: General & Medical</h3>
      <div>
        <div id="att_ex" >
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717444" alt="attestion p1"> <br>
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717443" alt="attestion p2">
        </div>
        <p>The attestation is both a record of the individual's characteristics when they entered military service for World War I and a legal document that attested to the individual's willingness to serve in the military. The attestation has two pages, the first recording social and economic information along with the attestation, and the second containing a structured description of the individual's health.</p>
        <p>The attestation form changed frequently over the course of the war, with the research team having identified more than 20 distinct combinations of questions. The form can be identified through being labeled as an “Attestation” in the header.</p>
        <p>The first page of the attestation records identifying information (name, address, next of kin), education and occupation, and a range of questions on previous military service. The footer of the document records the individual’s signing of an oath in front of an attesting officer.</p>
        <p>The second page of the attestation records the results of a medical examination; the heading of this document changed during the war. The document can be consistently identified from its combination of questions. Towards the top of the page are a basic description of the person: height, weight, chest dimensions, colour of hair and eye, and any distinctive physical characteristics. There are then a series of questions about health, both those put to the recruit and some that rely on the doctor’s observation. These are typically answered yes or no. Finally the individual is classified with a fitness grade ranging from A to D.</p>
      </div>
      <h3>South African War Attestation</h3>
      <div>
        <img src="assets/anzac/sa_att_ex.jpeg" alt="death notification">
        <p>The overall set of records includes not only the records of men who served in World War I, but also those from men who served only in New Zealand forces in the South African War. The attestation forms from the South African War record are a single page and include less information than a World War I attestation form.</p>
      </div>
      <h3>Death Notifications</h3>
      <div>
        <img src="https://s3.amazonaws.com/anzac-project/R10920991/FL22335668" alt="death notification">
        <p>Many files include a death notification for individuals who died after the war. These documents are typically headed with an indication they were sent from the Registrar of Births, Deaths and Marriages or the Department of Internal Affairs. Many of these documents were included in the files between the 1950s and 1980s. The only information being captured from these documents are the first and last names, service number, and the place and date of death.</p>
      </div>
      <h3>Other Forms</h3>
      <div>
        <p>The millions of pages of records for 140,000 files also include many other types of documents, including pension or medal notifications, records of hospital treatment, proceedings of medical boards to determine a soldiers' fitness for return to combat or to return home, letters, and telegrams. We are not transcribing information off these pages in the current project. We are giving citizen scientists the opportunity to write a short description of what these other pages are in a free text field. A brief description of the other pages you see will help us organize the files for research by you, the Measuring the ANZACs team, and other researchers in the future. We hope that the short descriptions will let researchers narrow in on particular groups, such as men who received pensions, or men who returned to the front after recovering from wounds.</p>
      </div>
    </div>

  </div>
</div>