<div id="field-guide">
  <p>
  Personnel files include a variety of types of documents. The first step in creating a rich transcription of the files is identifying what type of document a piece of information comes from. In the future, identifying what types of documents are present in any given file will allow us to develop follow-up studies of particular groups. 
  </p>
  <p>
  The order of documents within a personnel file is not consistent, reflecting the creation of these files across an individual’s enlistment, wartime service, and return to New Zealand. After the war, the files continued to be used by the New Zealand Defence Force in the administration of returned soldiers' benefits and the award of medals among other uses. The material was transferred to Archives New Zealand in 2006, which scanned the material in a project that spanned several years. Because of the varied composition of the files and the long working life of the documents before being archived, it is unsurprising that we encounter documents in different orders. 
  </p>
</div>

<div id="accordion">
  <h3>History Sheet</h3>
  <div>
    The History sheet, which often appears early in the file records, identifies information about the individual, their occupation, and the address of their next of kin, followed by a structured record of events that happened to individuals from enlistment through demobilization. The categories of events recorded on the History sheet are service locations and dates, wounds, sickness, killed in action, death from wounds or sickness, whether a person was formally missing in action, prisoner, injuries in service, and discharge. The History sheet is identifiable from being headed with that title, and for some periods of the war appears with the annotation “E.F. Form No. 3A” in the top right corner.
  </div>
  <h3>Attestation</h3>
  <div>
    <p>The attestation is both a record of the individual's characteristics when they entered military service for World War I and a legal document that attested to the individual's willingness to serve in the military. The attestation has two pages, the first recording social and economic information along with the attestation, and the second containing a structured description of the individual's health.

    <p>The attestation form changed frequently over the course of the war, with the research team having identified more than 20 distinct combinations of questions. The form can be identified through being labeled as an “Attestation” in the header.

    <p>The first page of the attestation records identifying information (name, address, next of kin), education and occupation, and a range of questions on previous military service. The footer of the document records the individual’s signing of an oath in front of an attesting officer.

    <p>The second page of the attestation records the results of a medical examination; the heading of this document changed during the war. The document can be consistently identified from its combination of questions. Towards the top of the page are a basic description of the person: height, weight, chest dimensions, colour of hair and eye, and any distinctive physical characteristics. There are then a series of questions about health, both those put to the recruit and some that rely on the doctor’s observation. These are typically answered yes or no. Finally the individual is classified with a fitness grade ranging from A to D.
  </div>
  <h3>South African Attestation</h3>
  <div>
    The overall set of records includes not only the records of men who served in World War I, but also those from men who served only in New Zealand forces in the South African War. The attestation forms from the South African War record are a single page and include less information than a World War I attestation form.
  </div>
  <h3>Death Notifications</h3>
  <div>
    Many files include a death notification for individuals who died after the war. These documents are typically headed with an indication they were sent from the Registrar of Births, Deaths and Marriages or the Department of Internal Affairs. Many of these documents were included in the files between the 1950s and 1980s. The only information being captured from these documents are the first and last names, service number, and the place and date of death. 
  </div>
</div>