<div id="field-guide">
  <nav>
    <ul>
      <li><a href="#about-transcription-guide" class="about-nav selected-content" >Transcription Guide</a></li>
      <li><a href="#page-type-guide" class="about-nav">Personnel Files Guide</a></li>
      <li><a href="#abbreviations" class="about-nav">Abbreviations</a></li>
    </ul>
  </nav>

  <div id="about-transcription-guide" class="selected-content">
    <h2>A Guide to Transcription</h2>
    <p>Accurate transcription is central to the success of our efforts in Measuring the ANZACs. Complete accuracy in transcribing handwritten historical material is impossible. Put simply, sometimes the handwriting is too messy or too faded to make sense of what is written. You will notice that the handwriting in the files varies from page to page, and file to file. It is also quite different from the handwriting we may be used to today.</p>

    <p>The handwriting of the World War I era, written by people educated in the nineteenth and early twentieth century, was more flourishing than the handwriting of people growing up after World War II. Remember too that some of these forms were filled out in less than ideal conditions: halls with lines of nervous men being examined for their suitability to fight, hospitals, military barracks. In short, you will not be able to read everything and that’s OK. </p>

    <p>You will find that your ability to read this handwriting improves as you spend more time with it.</p>
     
    <p>Transcription of different types of characters: The information we are transcribing is composed of both numbers (height and weight, number of children) and letters (place names, people’s names), and less frequently combinations of both (military units or groups such as “7th Reinforcements” or “3rd Battalion”.</p>
    
    <p>Accuracy on a single character is most important for the numeric fields. A person who weighing 175 pounds is significantly heavier than someone weighing 145 pounds. By contrast, typing “Dundin” instead of “Dunedin” has little effect on research. When we examine all the records for where people were born or lived we’ll see the large number of “Dunedin”s, a small number of “Dundin”s and by the similarity of the words know what is meant.</p>
    
    <p>In general numbers are often easier to recognize. However in handwriting it is possible to mistake a 1 for a 2, a 4 for a 7, and 5 for 8. It is also easy to mistakenly type one key above or below the one you meant to type, turning someone into an 8 foot 8 inch giant instead of a 5 foot 8 inch average men.</p>

    <p>Values to expect: In fields requiring numbers it is often useful to ask oneself “what values should I expect” and compare what one types to that. In Measuring the ANZACs you will see that nearly all the dates for events connected with the military occur between 1899 and 1902 (South African War) or 1914 and 1919 (World War I). Men who are enlisting in World War I will often have been born between 1880 and 1899, though there are smaller numbers born before and after those dates.</p>

    <p>For letters, give the response your best effort. You will often be able to identify most of the characters and then try to understand what the hard to read letters are by knowing what to expect.</p>   

    <span class="keyword">Transcription help for particular types of questions</span><br><p>Many of the questions we are transcribing in Measuring the ANZACs have similar types of answers. For example, in multiple places people are asked about a New Zealand address, many fields on the History sheet ask for a theater of combat to be identified. Thus, we have grouped:</p>
    <p><span class="keyword">Dates</span>: Dates occur in many places. Abbreviated dates are in the form day/month/year. Please type in dates as they are written on the page, and do not standardize to any format.</p> 

    <p><span class="keyword">Place names on attestations:</span> Many place names will be New Zealand locations, particularly for addresses and employers. Birthplaces will come from around the world. New Zealand place names will include Māori place names. 

    <p><span class="keyword">Nationality</span>: You will see that most people are New Zealanders, Australians, or British subjects. 

    <p><span class="keyword">Medical examination fields:</span></p>
    <ul>

      <li><span class="keyword">Apparent age:</span> Men will typically be between the ages of 15 and 65, with most in their 20s or 30s.</li>

      <li><span class="keyword">Height (feet):</span> Height in feet potentially ranges from 4 to 7, with most being 5 or 6.</li>

      <li><span class="keyword">Height (inches):</span> Ranges from 0-12. You will notice fractions. Please enter these with a slash, e.g 3/4 for ¾</li>

      <li><span class="keyword">Weight:</span> Weight is measured in stone and 0-14 pounds, or whole pounds. Weight in stone should range from 7 to 30, with most values between 10 and 15. In whole pounds it will be unusual to see values above 200 and we would not expect values over 300 or below 80.</p> 
    </ul>

    <p><span class="keyword">Place names on history sheets:</span> These will include a mixture of New Zealand and overseas place names. New Zealand forces fought in multiple theatres of the war including Samoa, Egypt, Sinai, Palestine, the Dardanelles (Gallipoli), and France.</p>     
  </div>
  <div id="page-type-guide" >
    <h2>Personnel Files</h2>
    <p>Personnel files include a variety of types of documents. The first step in creating a rich transcription of the files is identifying what type of document a piece of information comes from. In the future, identifying what types of documents are present in any given file will allow us to develop follow-up studies of particular groups.</p>
    <p>
    The order of documents within a personnel file is not consistent, reflecting the creation of these files across an individual’s enlistment, wartime service, and return to New Zealand. After the war, the files continued to be used by the New Zealand Defence Force in the administration of returned soldiers' benefits and the award of medals among other uses. The material was transferred to Archives New Zealand in 2006, which scanned the material in a project that spanned several years. Because of the varied composition of the files and the long working life of the documents before being archived, it is unsurprising that we encounter documents in different orders. 
    </p>
    
    <div id="accordion">
      <h3>History Sheet & Statement of Services</h3>
      <div>
        <div id="att_ex" >
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717394" alt="history sheet"> <br>
          <img src="https://s3.amazonaws.com/anzac-project/R10927559/FL9809225" alt="statement of services">
        </div>
        <p>The History sheet, which often appears early in the file records, identifies information about the individual, their occupation, and the address of their next of kin, followed by a structured record of events that happened to individuals from enlistment through demobilization. The categories of events recorded on the History sheet are service locations and dates, wounds, sickness, killed in action, death from wounds or sickness, whether a person was formally missing in action, prisoner, injuries in service, and discharge. The first page of the History sheet is identifiable from being headed with that title, and for some periods of the war appears with the annotation “E.F. Form No. 3A” in the top right corner.</p>
        <p>The second page of the History sheets is headed Statement of Services and records in more detail the career path of the soldier, what ranks they attained, and which units they served in. The information on the History sheet will be used by researchers to summarize men's wartime experience in order to study what influenced men's health and life expectancy after the war.</p>
        <p>The bottom half of the Statement of Services sheet records instances of misconduct in a section headed Conduct. In the present project we are asking citizen scientists to indicate whether any information appears in this section. We are not currently transcribing the information about misconduct, but by identifying which files have conduct information we will be able to return to these men's files more easily in the future.</p>
        <p>Both the History Sheet and the Statement of Services are sometimes partially obscured with pesky Sticky Notes. We ask that you indicate when a page is covered by a Sticky Note. The digitization team at Archives New Zealand have scanned pages with Sticky Notes multiple times, so that information above the Sticky Note and information hiding under it can be seen. Thus, there can be multiple images of the same page. You may have to move Back or Next to find marks and transcribe when a Sticky Note covers information on the page.</p>
      </div>
      <h3>Attestation: General & Medical</h3>
      <div>
        <div id="att_ex" >
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717444" alt="attestion p1"> <br>
          <img src="https://s3.amazonaws.com/anzac-project/R7821550/FL18717443" alt="attestion p2">
        </div>
        <p>The attestation is both a record of the individual's characteristics when they entered military service for World War I and a legal document that attested to the individual's willingness to serve in the military. The attestation has two pages, the first recording social and economic information along with the attestation, and the second containing a structured description of the individual's health.</p>
        <p>The attestation form changed frequently over the course of the war, with the research team having identified more than 20 distinct combinations of questions. The form can be identified through being labeled as an “Attestation” in the header.</p>
        <p>The first page of the attestation records identifying information (name, address, next of kin), education and occupation, and a range of questions on previous military service. The footer of the document records the individual’s signing of an oath in front of an attesting officer.</p>
        <p>The second page of the attestation records the results of a medical examination; the heading of this document changed during the war. The document can be consistently identified from its combination of questions. Towards the top of the page are a basic description of the person: height, weight, chest dimensions, colour of hair and eye, and any distinctive physical characteristics. There are then a series of questions about health, both those put to the recruit and some that rely on the doctor’s observation. These are typically answered yes or no. Finally the individual is classified with a fitness grade ranging from A to D.</p>
      </div>
      <h3>South African War Attestation</h3>
      <div>
        <img src="assets/anzac/sa_att_ex.jpeg" alt="death notification">
        <p>The overall set of records includes not only the records of men who served in World War I, but also those from men who served only in New Zealand forces in the South African War. The attestation forms from the South African War record are a single page and include less information than a World War I attestation form.</p>
      </div>
      <h3>Death Notifications</h3>
      <div>
        <img src="https://s3.amazonaws.com/anzac-project/R10920991/FL22335668" alt="death notification">
        <p>Many files include a death notification for individuals who died after the war. These documents are typically headed with an indication they were sent from the Registrar of Births, Deaths and Marriages or the Department of Internal Affairs. Many of these documents were included in the files between the 1950s and 1980s. The only information being captured from these documents are the first and last names, service number, and the place and date of death.</p>
      </div>
      <h3>Other Forms</h3>
      <div>
        <p class="other-form">The millions of pages of records for 140,000 files also include many other types of documents, including pension or medal notifications, records of hospital treatment, proceedings of medical boards to determine a soldiers' fitness for return to combat or to return home, letters, and telegrams. We are not transcribing information off these pages in the current project. We are giving citizen scientists the opportunity to write a short description of what these other pages are in a free text field. A brief description of the other pages you see will help us organize the files for research by you, the Measuring the ANZACs team, and other researchers in the future. We hope that the short descriptions will let researchers narrow in on particular groups, such as men who received pensions, or men who returned to the front after recovering from wounds.</p>
      </div>
    </div>
  </div>
  <div id="abbreviations" >
    <h2>Abbreviations</h2>
    <p> The personnel files of the New Zealand Expeditionary Force contain a lot of abbreviations and acronyms. The following list provided by the New Zealand Defence Force covers those most likely to be encountered. </p>

    <p>
      <span class="keyword">#A1:</span> Fit for Active Service
    </p>

    <p>
      <span class="keyword">#B1:</span> Able to be made fit by medical treatment
    </p>

    <p>
      <span class="keyword">#C1:</span> Likely to become fit for service overseas after special training
    </p>

    <p>
      <span class="keyword">#C2:</span> Permanently unfit for Active Service but fit for service in NZ
    </p>

    <p>
      <span class="keyword">#D:</span> Permanently Unfit
    </p>

    <p>
      <span class="keyword">A:</span> Artillery
    </p>

    <p>
      <span class="keyword">A/:</span> Acting
    </p>

    <p>
      <span class="keyword">AA:</span> Assistant Adjutant
    </p>

    <p>
      <span class="keyword">AAG:</span> Assistant Adjutant General
    </p>

    <p>
      <span class="keyword">Adj:</span> Adjutant
    </p>

    <p>
      <span class="keyword">Adm:</span> Admitted
    </p>

    <p>
      <span class="keyword">ADMS:</span> Assistant Director of Medical Services
    </p>

    <p>
      <span class="keyword">AGH:</span> Australian General Hospital
    </p>

    <p>
      <span class="keyword">AI:</span> Auckland Infantry
    </p>

    <p>
      <span class="keyword">AIB:</span> Auckland Infantry Battalion
    </p>

    <p>
      <span class="keyword">AIF:</span> Australian Imperial Force
    </p>

    <p>
      <span class="keyword">ALH:</span> Australian Light Horse
    </p>

    <p>
      <span class="keyword">AMR:</span> Auckland Mounted Rifles
    </p>

    <p>
      <span class="keyword">ANZAC:</span> Australia and New Zealand Army Corps.
    </p>

    <p>
      <span class="keyword">AOR:</span> At Own Request
    </p>

    <p>
      <span class="keyword">APM:</span> Assistant Provost Marshal
    </p>

    <p>
      <span class="keyword">App:</span> Appointment
    </p>

    <p>
      <span class="keyword">AQMG:</span> Assistant Quarter-Master-General
    </p>

    <p>
      <span class="keyword">AR:</span> Auckland Regiment
    </p>

    <p>
      <span class="keyword">ASC:</span> Army Service Corps
    </p>

    <p>
      <span class="keyword">ASH:</span> Australian Stationary Hospital
    </p>

    <p>
      <span class="keyword">Attd:</span> Attached
    </p>

    <p>
      <span class="keyword">AW(O)L:</span> Absent With / Without Leave
    </p>

    <p>
      <span class="keyword">BA:</span> British Army
    </p>

    <p>
      <span class="keyword">BAC:</span> Brigade Ammunition Column
    </p>

    <p>
      <span class="keyword">BC:</span> Battle Casualty
    </p>

    <p>
      <span class="keyword">Bde:</span> Brigade
    </p>

    <p>
      <span class="keyword">BM:</span> Brigade Major
    </p>

    <p>
      <span class="keyword">Bn/Btn/Batt:</span> Battalion
    </p>

    <p>
      <span class="keyword">Brockenhurst:</span> No 1 NZGH for NZEF in UK
    </p>

    <p>
      <span class="keyword">Bt:</span> Brevet
    </p>

    <p>
      <span class="keyword">Bty:</span> Battery
    </p>

    <p>
      <span class="keyword">Capt:</span> Captain
    </p>

    <p>
      <span class="keyword">CB:</span> Confined to Barracks
    </p>

    <p>
      <span class="keyword">CCS:</span> Casualty Clearing Station
    </p>

    <p>
      <span class="keyword">CI:</span> Canterbury Infantry
    </p>

    <p>
      <span class="keyword">CIB:</span> Canterbury Infantry Battalion
    </p>

    <p>
      <span class="keyword">CMR:</span> Canterbury Mounted Rifles
    </p>

    <p>
      <span class="keyword">CO:</span> Commanding Officer
    </p>

    <p>
      <span class="keyword">Codford:</span> No 3 NZGH convalescing home for NZEF
    </p>

    <p>
      <span class="keyword">COE:</span> Church of England
    </p>

    <p>
      <span class="keyword">Co/Coy:</span> Company
    </p>

    <p>
      <span class="keyword">Coln:</span> Column
    </p>

    <p>
      <span class="keyword">Corps:</span> Group of Divisions
    </p>

    <p>
      <span class="keyword">Coy:</span> Company/Sub-unit commanded by Major
    </p>

    <p>
      <span class="keyword">Cpl:</span> Corporal
    </p>

    <p>
      <span class="keyword">CSM:</span> Company Sergeant-Major
    </p>

    <p>
      <span class="keyword">ctba:</span> Ceases to be attached
    </p>

    <p>
      <span class="keyword">CWGC:</span> Commonwealth War Graves Commission
    </p>

    <p>
      <span class="keyword">DAC:</span> Divisional Ammunition Column
    </p>

    <p>
      <span class="keyword">DADMS:</span> Deputy Assistant Director Medical Services
    </p>

    <p>
      <span class="keyword">DAPM:</span> Deputy Assistant Provost Marshal
    </p>

    <p>
      <span class="keyword">DCM:</span> Distinguished Conduct Medal
    </p>

    <p>
      <span class="keyword">Div:</span> Division commanded by Major-General
    </p>

    <p>
      <span class="keyword">Div Sig:</span> Divisional Signals
    </p>

    <p>
      <span class="keyword">DMS:</span> Director of Medical Services
    </p>

    <p>
      <span class="keyword">DOD:</span> Died of Disease
    </p>

    <p>
      <span class="keyword">DOW:</span> Died of Wounds / Duration of War
    </p>

    <p>
      <span class="keyword">DRS:</span> Divisional Rest Station
    </p>

    <p>
      <span class="keyword">DSO:</span> Distinguished Service Order
    </p>

    <p>
      <span class="keyword">E:</span> Engineers
    </p>

    <p>
      <span class="keyword">ED:</span> Efficiency Decoration (Territorial Force)
    </p>

    <p>
      <span class="keyword">EEF:</span> Egyptian Expeditionary Force
    </p>

    <p>
      <span class="keyword">EGH:</span> Egyptian Government Hospital
    </p>

    <p>
      <span class="keyword">Emb/Embn:</span> Embarkation
    </p>

    <p>
      <span class="keyword">Engr:</span> Engineer
    </p>

    <p>
      <span class="keyword">FA:</span> Field Ambulance
    </p>

    <p>
      <span class="keyword">FAP:</span> For all purposes
    </p>

    <p>
      <span class="keyword">Far Sgt:</span> Farrier Sergeant
    </p>

    <p>
      <span class="keyword">Fd Amb:</span> Field Ambulance
    </p>

    <p>
      <span class="keyword">FPC:</span> Field Punishment Centre
    </p>

    <p>
      <span class="keyword">GBD:</span> General Base Depot
    </p>

    <p>
      <span class="keyword">GH:</span> General Hospital
    </p>

    <p>
      <span class="keyword">Gnr:</span> Gunner
    </p>

    <p>
      <span class="keyword">GOC:</span> General Officer Commanding
    </p>

    <p>
      <span class="keyword">GSO:</span> General Staff Officer
    </p>

    <p>
      <span class="keyword">GSW:</span> Gunshot Wound
    </p>

    <p>
      <span class="keyword">HMNZT:</span> His Majesty’s NZ Troopship
    </p>

    <p>
      <span class="keyword">Hornchurch:</span> NZEF Convalescent Hospital
    </p>

    <p>
      <span class="keyword">HQ:</span> Headquarters
    </p>

    <p>
      <span class="keyword">HS:</span> Hospital Ship
    </p>

    <p>
      <span class="keyword">IA:</span> Indian Army
    </p>

    <p>
      <span class="keyword">IB:</span> Infantry Brigade
    </p>

    <p>
      <span class="keyword">ICC:</span> Imperial Camel Corps
    </p>

    <p>
      <span class="keyword">Inf:</span> Infantry
    </p>

    <p>
      <span class="keyword">Instr:</span> Instructor
    </p>

    <p>
      <span class="keyword">Instrn:</span> Instruction
    </p>

    <p>
      <span class="keyword">KIA:</span> Killed in Action
    </p>

    <p>
      <span class="keyword">Lieut:</span> Lieutenant
    </p>

    <p>
      <span class="keyword">LH:</span> Light Horse (The Mounted Rifles of Australia)
    </p>

    <p>
      <span class="keyword">LH:</span> Bde Light Horse Brigade
    </p>

    <p>
      <span class="keyword">Lt/2 Lt:</span> Lieutenant /Second Lieutenant
    </p>

    <p>
      <span class="keyword">Lt Col:</span> Lieutenant-Colonel
    </p>

    <p>
      <span class="keyword">LWOP:</span> Leave Without Pay
    </p>

    <p>
      <span class="keyword">Maj:</span> Major
    </p>

    <p>
      <span class="keyword">MC:</span> Military Cross / Medical Corps
    </p>

    <p>
      <span class="keyword">MDS:</span> Main Dressing Station
    </p>

    <p>
      <span class="keyword">MEF:</span> Mediterranean Expeditionary Force
    </p>

    <p>
      <span class="keyword">MG:</span> Machine Gun
    </p>

    <p>
      <span class="keyword">MGS:</span> Machine Gun Squadron
    </p>

    <p>
      <span class="keyword">MIA:</span> Missing in Action
    </p>

    <p>
      <span class="keyword">M/I:</span> Marched In
    </p>

    <p>
      <span class="keyword">MID:</span> Mentioned in Despatches
    </p>

    <p>
      <span class="keyword">MM:</span> Military Medal
    </p>

    <p>
      <span class="keyword">M/O:</span> Marched Out
    </p>

    <p>
      <span class="keyword">Mtd:</span> Mounted
    </p>

    <p>
      <span class="keyword">NCO:</span> Non-Commissioned Officer
    </p>

    <p>
      <span class="keyword">NYD:</span> Not Yet Diagnosed
    </p>

    <p>
      <span class="keyword">NZ & A DIV:</span> New Zealand & Australian Division
    </p>

    <p>
      <span class="keyword">NZA:</span> NZ Artillery
    </p>

    <p>
      <span class="keyword">NZASC:</span> NZ Army Service Corps
    </p>


    <p>
      <span class="keyword">NZCC:</span> NZ Camel Company/NZ Cyclist Corps/Corps of Cyclists
    </p>

    <p>
      <span class="keyword">NZ Div Tr:</span> NZ Divisional Train
    </p>

    <p>
      <span class="keyword">NZE:</span> NZ Engineers (Field or Signalling Troops)
    </p>

    <p>
      <span class="keyword">NZEF:</span> New Zealand Expeditionary Force
    </p>

    <p>
      <span class="keyword">NZFA:</span> NZ Field Artillery
    </p>

    <p>
      <span class="keyword">NZGH:</span> NZ General Hospital
    </p>

    <p>
      <span class="keyword">NZGRU:</span> NZ Graves Registration Unit
    </p>

    <p>
      <span class="keyword">NZHS:</span> NZ Hospital Ship
    </p>

    <p>
      <span class="keyword">NZI & GBD:</span> NZ Infantry and General Base Depot
    </p>

    <p>
      <span class="keyword">NZMC:</span> NZ Medical Corps
    </p>

    <p>
      <span class="keyword">NZMFA:</span> NZ Mounted Field Ambulance
    </p>

    <p>
      <span class="keyword">NZMR:</span> NZ Mounted Rifles
    </p>

    <p>
      <span class="keyword">NZPS:</span> NZ Permanent Staff
    </p>

    <p>
      <span class="keyword">NZRB:</span> NZ Rifle Brigade
    </p>

    <p>
      <span class="keyword">NZSC:</span> NZ Staff Corps
    </p>

    <p>
      <span class="keyword">NZSH:</span> NZ Stationary Hospital
    </p>

    <p>
      <span class="keyword">NZST:</span> NZ Signalling Troop
    </p>

    <p>
      <span class="keyword">NZTC:</span> NZ Tunnelling Company
    </p>

    <p>
      <span class="keyword">NZVC:</span> NZ Veterinary Corps
    </p>

    <p>
      <span class="keyword">OC:</span> Officer Commanding
    </p>

    <p>
      <span class="keyword">OI:</span> Otago Infantry
    </p>

    <p>
      <span class="keyword">OIB:</span> Otago Infantry Battalion
    </p>

    <p>
      <span class="keyword">OMR:</span> Otago Mounted Rifles
    </p>

    <p>
      <span class="keyword">Pte:</span> Private
    </p>

    <p>
      <span class="keyword">Pl:</span> Platoon
    </p>

    <p>
      <span class="keyword">POW:</span> Prisoner of War
    </p>

    <p>
      <span class="keyword">QMG:</span> Quarter Master General
    </p>

    <p>
      <span class="keyword">QI or Qi:</span> Quarantine Island
    </p>

    <p>
      <span class="keyword">RAP:</span> Regimental Aid Post
    </p>

    <p>
      <span class="keyword">RC:</span> Roman Catholic
    </p>

    <p>
      <span class="keyword">Regt:</span> Regiment
    </p>

    <p>
      <span class="keyword">Res:</span> Reserve
    </p>

    <p>
      <span class="keyword">RHA:</span> Royal Horse Artillery
    </p>

    <p>
      <span class="keyword">Rft:</span> Reinforcement
    </p>

    <p>
      <span class="keyword">RMO:</span> Regimental Medical Officer
    </p>

    <p>
      <span class="keyword">RSM:</span> Regimental Sergeant-Major
    </p>

    <p>
      <span class="keyword">RTNZ:</span> Returned to NZ
    </p>

    <p>
      <span class="keyword">SAA:</span> Small Arms Ammunition
    </p>

    <p>
      <span class="keyword">Sec:</span> Section
    </p>

    <p>
      <span class="keyword">Sgt:</span> Sergeant
    </p>

    <p>
      <span class="keyword">Sling/ Slingshott:</span> Main NZEF depot/camp at Larkhill, Bulford Village, Salisbury Plain, England
    </p>

    <p>
      <span class="keyword">SOS:</span> Struck Off Strength
    </p>

    <p>
      <span class="keyword">Spr:</span> Sapper
    </p>

    <p>
      <span class="keyword">Sqn:</span> Squadron
    </p>

    <p>
      <span class="keyword">T/:</span> Temporary
    </p>

    <p>
      <span class="keyword">TD:</span> Territorial Decoration
    </p>

    <p>
      <span class="keyword">TF:</span> Territorial Force
    </p>

    <p>
      <span class="keyword">Tfd:</span> Transferred
    </p>

    <p>
      <span class="keyword">TM:</span> Batt Trench Mortar Battery
    </p>

    <p>
      <span class="keyword">TOS:</span> Taken On Strength
    </p>

    <p>
      <span class="keyword">Tp:</span> Troop
    </p>

    <p>
      <span class="keyword">Tpr:</span> Trooper
    </p>

    <p>
      <span class="keyword">Trg:</span> Training
    </p>

    <p>
      <span class="keyword">TS:</span> Troop Ship
    </p>

    <p>
      <span class="keyword">VAD:</span> Voluntary Aid Detachment
    </p>

    <p>
      <span class="keyword">VC:</span> Victoria Cross
    </p>

    <p>
      <span class="keyword">VD:</span> Volunteer Decoration/Venereal Disease
    </p>

    <p>
      <span class="keyword">WEF:</span> With Effect From
    </p>

    <p>
      <span class="keyword">WI:</span> Wellington Infantry
    </p>

    <p>
      <span class="keyword">WIB:</span> Wellington Infantry Battalion
    </p>

    <p>
      <span class="keyword">WMR:</span> Wellington Mounted Rifles
    </p>

    <p>
      <span class="keyword">WOAS:</span> While on Active Service
    </p>

    <p>
      <span class="keyword">WWI:</span> World War One
    </p>

    <p>This guide to WWI personnel file abbreviations is kindly reproduced and adapted from the NZ Defence Force.</p>
  </div>
</div>