<div id="accordion">
  <h3>First header</h3>
  <div>First content panel</div>
  <h3>Second header</h3>
  <div>Second content panel</div>
</div>

<script type="text/javascript" async="true" >
  $( document ).ready(function() {
    $( "#accordion" ).accordion({
    collapsible: true
    });
  });
</script>