Do your part to help transcribe first-hand accounts of New Zealanders from the Australian and New Zealand Army Corps circa World War I.
<div className='decision-area'>
  <a href="/#/mark" >Start Marking</a> <span id='fancyor'>or</span><a href="/#/transcribe" >Start Transcribing</a> 
</div>