Do your part to help transcribe first-hand accounts of New Zealanders from the Australian and New Zealand Army Corps circa World War I.
<div class='decision-area'>
  <a class="standard-button d-left" href="/#/mark" >Start Marking</a> <span id='fancyor'>or</span><a class="standard-button d-right" href="/#/transcribe" >Start Transcribing</a> 
</div>
<div class="home-social-media">
  <a target="_blank" href="https://www.facebook.com/MeasuringtheANZACs"><i class="fa fa-facebook-square"></i> </a>
  <a target="_blank" href="https://twitter.com/MeasuringANZACs"><i class="fa fa-twitter-square"></i></i> </a>
</div>
