Do your part to help transcribe first-hand accounts of New Zealanders from the Australian and New Zealand Army Corps circa World War I.
<div class='decision-area'>
  <a class="standard-button" href="/#/mark" >Start Marking</a> <span id='fancyor'>or</span><a class="standard-button" href="/#/transcribe" >Start Transcribing</a> 
</div>
