Do your part to help transcribe first-hand accounts of New Zealanders from the Australian and New Zealand Army Corps.
<div className='decision-area'>
  <a onChange={@markClick}>Start Marking</a> <span id='fancyor'>or</span><a onChange={@markTranscribe}>Start Transcribing</a> 
</div>