<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=1000" />
<title>Old Weather Whaling</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<%= stylesheet_link_tag "application", media: "all" %>
<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
<style>
  body {
      margin: 2em;
  }
  a{
    text-decoration: none;
  }
</style>
</head>
<body>
  <div>
    <h2>Old Weather Whaling </h2>
    <p>Old Weather Whaling is currently down for maintenance. In the meantime, please visit the companion site <a href="http://www.oldweather.org/#/">Old Weather</a>. Thank you!</p>
  </div>
</body>
</html>
