.mark-tool
  cursor grab
  cursor -webkit-grab
  &.locked
    &:active
      cursor not-allowed
  &:active
    cursor grabbing
    cursor -webkit-grabbing
  .resize-button
    cursor row-resize
    cursor -webkit-row-resize
    &:active
      cursor grabbing
      cursor -webkit-grabbing
  &.delete-button
    cursor pointer
