.point-tool

  // BUTTON STYLES
  .delete-button
    cursor pointer

  .mark-button
    cursor pointer

  // SHAPE STYLES
  .crosshairs
    stroke rgba(200,200,0,0.30)

  .tool-shape
    cursor grab
    cursor -webkit-grab

    stroke-width 5
    stroke rgba(200,200,0,0.30)
    fill transparent

    &:active
      cursor grabbing
      cursor -webkit-grabbing

    // mark has not yet been transcribed
    &.transcribable
      stroke rgb(67, 187, 253)

    // mark is committed and uneditable
    &.committed
      cursor default

    // mark has not yet been committed
    &.uncommitted
      stroke #fc5424
