.text-row-tool
  .action-button
    cursor pointer
    &.disabled
      cursor wait
      opacity 0.2
      &:active
        cursor wait
        pointer-events none

    .checkbox
      transition 0.25s
      opacity 0.6
      &:hover
        opacity 1.0
