/* Custom Old Weather: Whaling styles that overwrite Scribe defaults */
.home-page {
  background-color: inherit;
  padding-top: 6%;
  color: #efefef;
  font-size: 30px; /* Approximation due to font substitution */
  font-weight: 300;
  line-height: 68px; /* Approximation due to font substitution */
  text-align: center;
}
.home-page h1 {
  /*font-family: 'Roboto Slab';*/
  color: #fff;
  font-weight: 100;
  margin-bottom: 0%;
}
.home-page p {
  font-family: SANS_SERIF;
  font-size: 100%;
  letter-spacing: 0.03em;
}
.home-page p.project-summary {
  font-size: 25px;
  font-style: italic;
  text-align: justify;
  line-height: 1em;
}
.home-page .tagline {
  font-size: 25px;
  line-height: 1.25em;
  text-align: center;
  /*text-transform: uppercase;*/
}
.home-page a.standard-button {
  font-size: 20px;
  padding: 0 2em;
  line-height: 2em;
}

.readymade-site-background{
  top: -370px;
}

 /* A hack to replace the hard-coded group header */
.groups-header span {
  display: none;
}

.groups-header:after {
  text-transform: none;
  content: 'Select a Voyage'
}

.home-page .page-content {
  margin: 0px;
}

.custom-page > div, .group-page {
  background-color: #3f5765;
  color: #FFF;
}

.page-content > h1 {
  background-color: #2b3a42;
}
