/* Custom Old Weather: Whaling styles that overwrite Scribe defaults */
.home-page {
  background-color: inherit;
  color: #efefef;
  /*font-size: 30px; /* Approximation due to font substitution */*/
  /*font-weight: 300;*/
  /*line-height: 68px; /* Approximation due to font substitution */*/
  /*text-align: center;*/
}

/* overwrite Scribe default */
.home-page .title {
  display: none;
}
.home-page p {
  /*font-family: 'Open Sans', SANS_SERIF;*/
  font-size: 100%;
  letter-spacing: 0.03em;
}

.home-page .title-container {
  position: absolute;
  left: 60px;
  height: 600px;
  width: 860px;
  background-image: -webkit-linear-gradient(top, #000 50%, rgba(0,0,0,0.2) 100%);
  background-image: -moz-linear-gradient(top, #000 50%, rgba(0,0,0,0.2) 100%);
  background-image: -ms-linear-gradient(top, #000 50%, rgba(0,0,0,0.2) 100%);
  background-image: -o-linear-gradient(top, #000 50%, rgba(0,0,0,0.2) 100%);
  background-image: linear-gradient(top, #000 50%, rgba(0,0,0,0.2) 100%);
}

.old-weather-text {
  display: inline-block;
  line-height: 0px;
  font-family: 'Garamond';
  font-size: 100px;
  text-align: left;
  margin-left: 52px;
}

.old-weather-text p {
  font-family: 'Garamond';
}

.whaling-text {
  font-family: 'Garamond';
  font-size: 60px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;}

.home-page .title-container .whaling-text p {
  font-family: 'Garamond';
  margin-left: 10px;
  margin-right: 10px;
}

.home-page .title-container .tagline {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  line-height: 1.25em;
  text-align: left;
  margin-left: 52px;
  margin-right: 52px;
}

.home-page .title-container .project-summary {
  font-size: 24px;
  color: #fff;
  text-align: justify;
  line-height: 1.5em;
  margin-left: 52px;
  margin-right: 52px;
  margin-top: 20px;
}

.home-page .title-container a {
  text-decoration: none;
  font-size: 22px;
  margin-left: 50px;
}

.home-page .title-container .button-container {
  display: block;
}

.home-page .title-container .button-container a.standard-button {
  display: block;
  width: 200px;
  height: 40px;
  font-size: 20px;
  padding: 0 2em;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.readymade-site-background{
  top: -370px;
}

 /* A hack to replace the hard-coded group header */
.groups-header span.arrow {
  display: none;
}

.groups-header:after {
  text-transform: none;
  content: 'Select a Voyage'
}

.home-page .page-content {
  margin: 0px;
}

.custom-page > div, .group-page {
  background-color: #3f5765;
  color: #FFF;
}

.page-content > h1 {
  background-color: #2b3a42;
}
