<div class="scribe-footer-credits">
  <div>
    <p>A collaboration between
      <a href="http://www.nypl.org/collections/labs">New York Public Library Labs</a>
      and <a href="http://www.nypl.org/locations/divisions/milstein">Irma and Paul Milstein Division of United States History, Local History and Genealogy</a>
      with generous support from:</p>
    <p><a href="http://www.neh.gov/"><img src="/assets/neh_logo.png" alt="National Endowment for the Humanities" title="National Endowment for the Humanities" /></a></p>
  </div>
</div>
