<div class="scribe-footer-credits emigrants-footer-credits">
  <div>
    <p>Emigrant City is a collaboration between
      <a href="http://www.nypl.org/collections/labs">New York Public Library Labs</a>
      and <a href="http://www.nypl.org/locations/divisions/milstein">The Irma and Paul Milstein Division of United States History, Local History and Genealogy</a>
      with generous support from:</p>
    <p><a href="http://www.neh.gov/"><img src="/assets/neh_logo.png" alt="National Endowment for the Humanities" title="National Endowment for the Humanities" /></a></p>
    <p>&copy; The New York Public Library, Astor, Lennox, and Tilden Foundation 2013-2015</p>
  </div>
</div>
<div class="emigrants-footer-links">
  <div>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a>
    <a href="http://www.nypl.org/policy-patron-generated-web-content">Policy on Patron-Generated Web Content</a>
    <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a>
  </div>
</div>
