<div class="logo">A project by the [New York Public Library Labs](http://www.nypl.org/collections/labs)</div>

Join us in transcribing and exploring the records of over six-thousand mortgages taken out from New York City's historic Emigrant Savings Bank during the turn of the 20th century. [Learn more about the project](/#/about) or get started below.

----

## How You Can Help

We've broken up the work into three free-standing tasks.

 * <a class="major-button" href="/#/mark">Mark</a> Locate key information on the documents (e.g. dates, mortgager name). No typing, just drawing boxes.
 * <a class="major-button" href="/#/transcribe">Transcribe</a> Type out the fields marked by fellow volunteers. Modest deciphering of old handwriting required!
 * <a class="major-button" href="/#/verify">Verify</a> Sometimes transcribers disagree. Help arbitrate and ensure that the highest quality data is produced.

You may find you prefer one task over another, so try them all! All tasks are essential steps in the greater effort to unlock the history of land ownership in 19th century NYC!

<a class="major-button" href="/#/mark">Get Started!</a>

----
