Join the effort to transcribe and open up the underutilized, but data rich real estate records of New York City's historic Emigrant Savings Bank. We're working to transcribe structured, building-level mortgage and bond records from about 6,400 mortgages. In doing so, we're creating a dataset of financial information about the landholding and financial patterns of NYC in the second half of the 19th century.

The records being transcribed are of loans taken out (many by relatively new immigrants) to buy property and to mortgage existing real estate, an essential step in moving up in New York's economic strata. The records are part of a larger archival collection; while much of this collection has been digitized and poured over by generations of genealogists, the real estate materials appear to be largely unknown and underutilized. Building a keyword searchable and structured index of names and mortgage details should be of tremendous use to genealogists, provides a new source of material for historians, and creates useful location data for the Library's [NYC Space/Time directory](http://spacetime.nypl.org/).

<a class="major-button" href="/#/about">Learn More</a>

----

## How You Can Help

We've broken up the work into three free-standing tasks.

 * <a class="major-button" href="/#/mark">Mark</a> Locate key information on the documents (e.g. dates, mortgager name). No typing, just drawing boxes.
 * <a class="major-button" href="/#/transcribe">Transcribe</a> Type out the fields marked by fellow volunteers. Modest deciphering of old handwriting required!
 * <a class="major-button" href="/#/verify">Verify</a> Sometimes transcribers disagree. Help arbitrate and ensure that the highest quality data is produced.

You may find you prefer one task over another, so try them all! All tasks are essential steps in the greater effort to unlock the history of land ownership in 19th century NYC!

<a class="major-button" href="/#/mark">Start contributing now!</a>

----
