## A Brief Introduction to City of Emigrants

### Our Goal

To extract structured data from over 6,000 handwritten mortgage and bond ledgers from the Emigrant Savings Bank records.

To divide the labor -- and to help ensure accuracy -- we've broken the work into 3 free-standing tasks. These tasks follow a sequence, but they can be performed independently (feel free to focus on the one you enjoy best).

_Contribute a lot, or just a little. Every bit helps!_

### Task 1: Mark

Here you'll be identifying various pieces of information on the page. You won't be typing, just drawing boxes. This helps plot a route for the transcribers in Task 2. You may see existing marks left by other users. Just pick up where they left off.

<div class="video-wrapper">
  <video width="680" height="212" loop autoplay src="/images/mark_task.mp4"></video>
</div>

### Task 2: Transcribe

Here you'll type out the words and numbers inside the fields marked by your fellow volunteers. Heads up: there may be some tricky handwriting to decipher! But don't worry, we'll get these transcribed multiple times to ensure accuracy, so give it your best shot and move on.

<div class="video-wrapper">
  <video width="680" height="378" loop autoplay src="/images/transcribe_task.mp4"></video>
</div>

### Task 3: Verify

Every document will be transcribed several times by multiple volunteers, and our software looks for agreement among them. If a field has been transcribed consistently and independently three times, it has reached "consensus" and is added to the final data set. If there are conflicting entries, those are queued up in the Verify task, where you can vote on the most accurate transcription, and make further corrections if needed.

<div class="video-wrapper">
  <video width="680" height="502" loop autoplay src="/images/verify_task.mp4"></video>
</div>

### Ready?

You may find you prefer one task over another, so try them all! All tasks are essential steps in the greater effort to unlock the history of land ownership in 19th century NYC!

<div class="columns">
  <ul>
    <li><a class="major-button" href="/#/mark">Mark</a> Locate key information on the documents (e.g. dates, mortgager name). No typing, just drawing boxes.</li>
    <li><a class="major-button" href="/#/transcribe">Transcribe</a> Type out the fields marked by fellow volunteers. Modest deciphering of old handwriting required!</li>
    <li><a class="major-button" href="/#/verify">Verify</a> Sometimes transcribers disagree. Help arbitrate and ensure that the highest quality data is produced.</li>
  </ul>
</div>

-----

<!--require groups: Or, Select A Collection-->
