#about-page
  text-align: left
  h2
    letter-spacing: 2px;
    text-transform: uppercase;

#about-intro
  background-color:  #3f5765
  padding: 2em;

#about-content
  background-color: #2b3a42;
  padding: 2em;

#about-questions
  background-color:  #3f5765
  padding: 2em;
