#field-guide
  p
    text-align left
  img
    width 20%

#accordion
  div
    text-align: left

  p
    width: 60%;
    padding-left: 2em
    display: inline-block;
    line-height: 2em;
    vertical-align: top;
  img
    width 20%
    padding-left 5%

  #att_ex
    float: left
    width: 20%
    img
      width: 100%

