#field-guide
  background-color:  #3f5765
  padding: 2em;
  p
    text-align left
  img
    width 20%

#accordion
  div
    text-align: left
    background-color: #cdcdcd
    align-items: center

  h3
    &.active
      background-color:  #8cbc8c

  br
    margin 1em

  p
    width: 60%;
    padding-left: 2em
    display: inline-block;
    line-height: 2em;
    vertical-align: top;
  img
    width 20%
    padding-left 5%

  #att_ex
    float: left
    width: 20%
    img
      width: 100%
      padding-bottom 20%

.ui-state-default.ui-state-focus
  color: #2b3a42
  background-color: #bdd4de
  border-color: #8cbc8c
  outline: none

.ui-state-default.ui-state-active
  color: #2b3a42
  background-color: #bdd4de
  border-color: #8cbc8c
  outline: none
.ui-state-default.ui-state-hover
  color: #2b3a42
  background-color: #bdd4de
  border-color: #8cbc8c
  outline: none

#accordion-help-modal
  text-align: left
  img
    float: left
    width: 45%
    padding-left 0
  p 
    font-size: 14px
    float: right
    padding-left: 5px
    width 53%

  .ui-accordion-content
   padding .5em 1em
