@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

@import './common.styl'
@import './home-page.styl'
@import './subject-metadata.styl'

@import './components/main-header.styl'
@import './components/loading-indicator.styl'
@import './components/subject-viewer.styl'
@import './components/action-button.styl'
@import './components/transcribe-tool.styl'

// get tool styles
@import './components/mark/text-row-tool.styl'
@import './components/mark/point-tool.styl'
