.secret-button
  @extends $reset-button

.standard-button
  @extends $reset-button
  border-radius: 3px
  color: white
  padding: 0.4em 1.4em
  text-align: center
  font-weight bold

  &:disabled
    pointer-events: none

  &.full
    display: block
    width: 100%

.major-button
  @extends .standard-button
  background: PRIMARY_NORMAL
  font-weight: bold
  text-transform: uppercase;

  &:hover
    background: PRIMARY_HOVER

.minor-button
  @extends .standard-button
  color: white
  background: SECONDARY_NORMAL
  text-transform: uppercase;

  &:hover
    background: SECONDARY_HOVER
  
  &.ghost
    border: solid SECONDARY_NORMAL 2px
    background: transparent
    color SECONDARY_NORMAL
    
  
.small-button
  font-size 11px
  padding: 0.2em 1em

.pill-button
  @extends $reset-button
  border: 1px solid
  border-radius: 3px
  font-size: 0.7em
  line-height: 1.2
  padding: 0 0.5em
