.classifier
  // display: flex
  // flex-wrap: wrap
  // justify-content: center
  .subject-area
    float: left
    width: 75%
    align-items: center
    justify-content: center
    display: flex
    margin-top 20px
    // margin: 0 1.5vw 1em 0

  .subject-container
    color: gray

  .subject
    border-radius: 5px
    box-shadow: 0 0 0 1px gray
    max-height: 90vh
    max-width: 100%

  .marking-initializer
    cursor: crosshair

  .loading-cover
    align-items: center
    background: rgba(gray, 0.5)
    color: white
    display: flex
    font-size: 2em
    height: 100%
    justify-content: center
    left: 0
    min-height: 4em
    position: absolute
    top: 0
    width: 100%

  .subject-tools
    display: flex
    justify-content: space-between

  .subject-frame-pip
    @extends $reset-button
    background: transparent
    border: 2px solid
    border-radius: 50%
    height: 0.7em
    margin: 0 0.3em
    overflow: hidden
    text-indent: 1em
    vertical-align: middle
    width: 0.7em

    &.active
      background: #f60

  .task-area
    position fixed
    width 250px
    right 20px
    top 100px
    background-color #EFEFEF
    color SECONDARY_NORMAL
    padding 20px
    border-radius 5px

    & > div:nth-child(2)
      margin-top 20px
      padding-top 20px
      border-top solid #999 1px

    .workflow-task
      margin-bottom 10px
      .pick-one-dropdown
        font-size 1.5em
        transition opacity 0.250s
        background-color #ececec
        opacity 0.75
        outline none
        &:hover
          opacity 1.0
          transition opacity 0.250s
        border-radius 5px
        padding 12px 20px
        height 40px
        width 300px
        border 2px solid transparent
        cursor pointer
        opacity 0.75

      .answer
        @extends .standard-button
        background-color #ddd
        color #333
        font-size 12px

        align-items: center
        display: flex
        margin: 0.5em 0
        text-align: left

        input
          visibility: hidden
        .drawing-tool-icon
          flex-shrink: 0
          line-height: 1
          margin-right: 0.5em
        .markdown > p:first-child:last-child
          margin: 0
        .tool-count
          margin-left: 0.5em
          opacity: 0.7

        &:hover, &.active
          color white
        &.active
          background-color SECONDARY_NORMAL
        &:hover
          background-color SECONDARY_HOVER

    .task-nav
      display: flex
      margin-top: 1em
      .back
        flex: 1 0
      .talk
        flex: 2 0
      .continue
        flex: 3 0
      :not(:first-child)
        margin-left: 0.5em
    
    .bad-subject
      color white
      border-color white

.workflow-task
  .drawing-tool-icon > svg
    fill-opacity: 0.1
    height: 1.5em
    stroke: currentColor
    stroke-width: 5
  .drawing-tool-input
    display: none
  & + .workflow-task
    margin-top: 2em


.workflow-nothing-more
  margin-top 200px
  border-radius 1em
  padding 1em
  background-color white
  opacity 0.75

  p
    color black

.draggable-modal
  position absolute
  min-width 200px
  max-width 800px
  background-color rgb(236, 236, 236)
  color black
  box-shadow 0 0 5px 3px rgba(0,0,0,.4)
  border-radius 6px
  line-height 2em
  cursor move
  z-index 10
  text-align left

  .modal-header, .modal-body, .modal-buttons
    padding 20px 20px 0

  .modal-header
    font-size 1.6em

  .modal-body
    overflow hidden

  .modal-buttons
    text-align right
    padding-bottom 20px

    .help-button, .bad-subject
      float left


.bad-subject
  margin-left 10px
  color TERTIARY_NORMAL
  border-color TERTIARY_NORMAL

  &.marked-bad
    border none
    background-color darkred
    color white
  
  &.marked-bad:before
    content '\2713   '

 
.help-modal
  width 500px

  .modal-body
    font-size 1.3em
