.classifier

  flexbox(flex)
  flex-direction(row)
  flex-wrap(nowrap)

  justify-content: center

  .subject-area
    flex(grow: 1)

  .subject-container
    color: gray

  .subject
    border-radius: 5px
    box-shadow: 0 0 0 1px gray
    max-height: 90vh
    max-width: 100%

  .marking-initializer
    cursor: crosshair

  .loading-cover
    align-items: center
    background: rgba(gray, 0.5)
    color: white
    display: flex
    font-size: 2em
    height: 100%
    justify-content: center
    left: 0
    min-height: 4em
    position: absolute
    top: 0
    width: 100%

  .subject-tools
    display: flex
    justify-content: space-between

  .subject-frame-pip
    @extends $reset-button
    background: transparent
    border: 2px solid
    border-radius: 50%
    height: 0.7em
    margin: 0 0.3em
    overflow: hidden
    text-indent: 1em
    vertical-align: middle
    width: 0.7em

    &.active
      background: #f60

  .right-column
    width 250px
    flex(shrink: 0)
    // flex-shrink 0
    padding 0 10px

    .task-area
      position fixed
      background-color #ffffff
      color SECONDARY_NORMAL
      padding 20px
      border-radius 5px
      border-top-right-radius 0px
      border-bottom-right-radius 0px

      &.mark
        padding 20px 20px 0
        height 100vh
        display flex
        flex-direction column
        overflow hidden
        overflow-y auto

      a
        cursor pointer

      box-shadow 0 0 5px 3px rgba(0,0,0,0.4)


      // prevent highlighting/selecting
      -webkit-touch-callout none
      -webkit-user-select none
      -khtml-user-select none
      -moz-user-select none
      -ms-user-select none
      user-select none

      .task-container
        flex nil 1 0 auto
        padding-bottom 10%

      .help-bad-subject-holder
        margin 10px -8px 15px 0

        button
          margin 10px 10px 0 0
          width 98%

        .task-help-button
          position absolute
          top 0
          right 0
          font-family FontAwesome
          background #bbb
          color #fff
          width 24px
          height 24px
          line-height 24px
          text-align center
          border none
          border-radius 12px
          padding 0
          font-weight normal
          font-size 14px
          margin: 2%
          -webkit-font-smoothing antialiased
          -moz-osx-font-smoothing grayscale
          &:hover
            background #3f5765

          &:before
            content "\f128"

      .workflow-task
        margin-bottom 10px
        > span:first-child > p:first-child
          margin-top 0
          padding-right 10px
        .pick-one-dropdown
          font-size 1.5em
          transition opacity 0.250s
          background-color #ececec
          opacity 0.75
          outline none
          &:hover
            opacity 1.0
            transition opacity 0.250s
          border-radius 5px
          padding 12px 20px
          height 40px
          width 300px
          border 2px solid transparent
          cursor pointer
          opacity 0.75

        .answer
          width: 85%
          @extends .standard-button
          background-color #ddd
          color #333
          font-size 12px

          align-items: center
          display: flex
          margin: 0.5em 0
          text-align: left
          position relative

          input
            visibility: hidden
          .drawing-tool-icon
            flex-shrink: 0
            line-height: 1
            margin-right: 0.5em
          .markdown > p:first-child:last-child
            margin: 0
          .tool-count
            margin-left: 0.5em
            opacity: 0.7

          .count
            margin-left 0.5em

            &:before
              content '('
            &:after
              content ')'

          .help
            position absolute
            display none
            right 0
            top 0
            height 20px
            padding 0.4em 1em
            background rgba(0,0,0,0.2)
            border-left 1px solid rgba(255,255,255,0.2)
            &:before
              display none
              content attr(data-text)
              position absolute
              right 2px
              top 100%
              width 200px
              padding 0.5em
              background #f7efa5
              border 1px solid #918e72
              font-size 0.8em
              color black
              font-weight normal
            &:hover:before
              // display block

          &:hover, &.active
            color white
            .help
              display block
          &.active
            background-color SECONDARY_NORMAL
            z-index 100
          &:hover
            background-color SECONDARY_HOVER
            z-index 101

      .task-secondary-area
        width 260px
        margin-left -20px
        margin-right -20px
        box-sizing border-box
        border-top solid #999 1px
        background #ddd
        margin-bottom 110px
        flex nil none

        > p
          margin 0
          > a
            display block
            padding 8px 16px
            text-decoration none
            color #777
            border-bottom 1px solid #bbb

            &:before
              font-family FontAwesome
              color #aaa
              display inline-block
              margin-right 6px
              -webkit-font-smoothing antialiased
              -moz-osx-font-smoothing grayscale
              font-size 16px
              vertical-align baseline

            &.tutorial-link:before
              content "\f059"

            &.transcribe-link:before
              content "\f14b"

            &.about-link:before
              content "\f05a"

            &:hover
              &,
              &:before
                color #3f5765

      .explore
        margin-bottom 20px
        border-bottom solid #999 1px
        h2
          font-size 20px
          margin-top 0

      .social-media-container
        margin 10px 0 -10px
        padding-top 8px
        padding-bottom 4px
        font-size 26px
        text-align center
        transition color 0.2s
        background #3f5765
        line-height 1
        width 100%

        i
          color #ddd
          cursor pointer
          padding 0 2px
          &:hover
            transition color 0.2s
            color #fff

      .task-nav
        display: flex
        margin-top: 20px
        .back
          flex: 1 0
        .talk
          flex: 2 0
        .continue
          flex: 3 0
          width: 100%
        :not(:first-child)
          margin-left: 0.5em

.workflow-task
  .drawing-tool-icon > svg
    fill-opacity: 0.1
    height: 1.5em
    stroke: currentColor
    stroke-width: 5
  .drawing-tool-input
    display: none
  & + .workflow-task
    margin-top: 2em


.workflow-nothing-more
  margin-top 200px
  border-radius 1em
  padding 1em
  background-color white
  opacity 0.75

  p
    color black

.draggable-modal
  position absolute
  min-width 338px
  max-width 800px
  background-color rgb(236, 236, 236)
  color black
  box-shadow 0 0 5px 3px rgba(0,0,0,.4)
  border-radius 6px
  line-height 2em
  cursor move
  z-index 10
  text-align left

  .modal-body, .modal-buttons
    padding 20px 20px 10px

  .modal-header
    font-size 1.6em
    background-color #3f5765
    color white
    padding 14px 20px

  .modal-body
    overflow hidden

    p:first-of-type
      margin-top 0

    p:last-of-type
      margin-bottom 0

  .modal-buttons
    text-align right
    padding-bottom 20px
    overflow hidden

    .help-button, .bad-subject
      float left
      margin-right 10px

      &:last
        margin-right 0

  .modal-close-button
    position absolute
    top -10px
    right -10px
    width 40px
    height 40px
    line-height 40px
    text-align center
    border-radius 20px
    background #8cbc8c
    color white
    font-size 30px
    cursor pointer

    &:hover
      background lighten(#8cbc8c, 15%)

    &:before
      content "\f00d"
      font-family 'FontAwesome'
      display inline-block
      margin-top -1px


// currently used for the "Bad Subject" and "Hide Other Marks" buttons
.toggle-button
  color TERTIARY_NORMAL
  border-color TERTIARY_NORMAL
  margin-right: 3px

  &.toggled
    border solid 1px darkred
    background-color darkred
    color white

  &.toggled:before
    content '\2713   '




.help-modal
  width 500px

  .modal-body
    font-size 1.3em
