BACKGROUND = white
FOREGROUND = #333
MAIN_HIGHLIGHT = #91BF8F
MEDIUM_GRAY = #555

PRIMARY_NORMAL=#8cbc8c
PRIMARY_HOVER=#A4C8A4

SECONDARY_NORMAL=#3f5765
SECONDARY_HOVER=#667983

TERTIARY_NORMAL=#FC5424
DISABLED_GRAY=#CDCDCD

SANS_SERIF = Arimo, Montserrat, "Gill Sans", Arial, sans-serif
SERIF = "Playfair Display", Georgia, serif
COURIER = "Courier New", Courier, monospace

html
  background: MEDIUM_GRAY
  color: white
  font: 14px/1.5 ProximaNova, "Helvetica Neue", Arial, sans-serif

body
  margin: 0

h1
  font-weight: 100
  font-size: 64px
  line-height: 1

h2
  font-weight: 100
  font-size: 36px
  line-height: 1

h3
  font-weight: normal
  letter-spacing: 2px
  text-transform: uppercase

hr
  border: 1px solid
  border-width: 1px 0 0 0
  color: inherit

a
  color: TERTIARY_NORMAL

button
  outline: none

.readymade-site-background
  background-color: MEDIUM_GRAY
  background-position: 50% 33%
  background-size: cover
  bottom: 0
  left: 0
  opacity: 1 //0.33
  position: fixed
  right: 0
  top: 0
  transition: opacity 0.5s
  z-index: -1

  [data-location-hash="#/"] &
    opacity: 1

.readymade-site-background-effect
  bottom: 0
  left: 0
  opacity: 1
  position: absolute
  right: 0
  top: 0
  transition: opacity 1s

  [data-location-hash="#/"] &
    opacity: 1

.readymade-main-stack
  margin: 20px auto
  width: 90vw

  [data-location-hash="#/"] &
    margin-top: 45vh

background-stripes(color1, color2, size)
  background: linear-gradient(-45deg, color1 25%, color2 25%, color2 50%, color1 50%, color1 75%, color2 75%)
  background-size: size size

$reset-button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  line-height: inherit
  margin: 0
  padding: 0
  text-decoration: none

$text-input
  border: 1px solid gray
  box-shadow: 0 1px 3px rgba(black, 0.2) inset
  box-sizing: border-box
  font: inherit
  padding: 0.1em 0.5vw

  &.full
    width: 100%

-webkit-font-smoothing antialiased

body
  // font-family: 'Ubuntu', sans-serif
  font-family: ProximaNova, 'Helvetica Neue'

h1
  color #426262
  font-weight 400
  font-size 3em

.page-content
  // margin 100px 100px
  border-radius 12px
  padding 20px
  min-width 250px
  line-height 1.8em

  h1
    padding: .5em
    text-align left
    margin-top 0
    color: white
    margin-bottom: 0;

  h2
    font-size 30px

  & > div
    background-color #efefef
    padding 20px
    color #2b3a42

  p
    max-width 800px

  .updated-at
    text-align right
    color gray


$button
  border-radius 5px
  padding 12px 20px
  width 140px
  font-weight bold
  font-size 12px
  border 2px solid transparent
  cursor pointer
  opacity 0.75
  color #000
  &.yellow
    background-color yellow
  &.red
    background-color red
  &.blue
    background-color blue
  &.white
    background-color #fff
  &.green
    background-color #693
  &.disabled
    opacity 0.25
    pointer-events none
    &:hover
      opacity 0.25
      // do nothing
    &:active
      transform translateY(0px)
  &:active
    transform translateY(1px)
    box-shadow none
  &:hover
    opacity 1.0
    // border 2px solid #000

div.home-page
  .page-content
    background-color: transparent
  h1
    background-color: transparent
  p
    background-color: transparent
  div
    background-color: transparent

#footer

  .scribe-logo-container img
    width: 10%
    min-width: 200px

  a
    color: inherit;
    opacity: 0.75;
    text-decoration: none;



.scribe-footer
  background-color: #192426
  color: #eae9e9
  padding: 20px
  padding-bottom: 0
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  .scribe-logo-container
    display: block
    width: 100%
    text-align: center

    .scribe-logo
      width: 90px
      margin-bottom: 30px

  .scribe-footer-general
    border-top: solid #808080 1px;
    padding-top: 10px
    text-align: center

  .scribe-footer-category
    display: inline-block
    width: 49%;
    text-align: center;

  .scribe-footer-content
    float: none
    width: 100%
    max-width: 920px
    margin: 0 auto

    .scribe-footer-heading
      max-width: 720px
      margin: 0 auto 20px
      text-align: center
      font-size: 16px

  .scribe-footer-credits
    text-align: center
    font-size: 16px
    background: #111
    padding: 20px 0
    margin: 20px -20px 0

    > div
      max-width: 920px
      margin: 0 auto

    img
      display: inline-block

    img.inline
      height: 40px
      width: auto
      margin: 0 10px
      vertical-align: middle




  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none


.main-content
  // margin-top: 10px
  margin-top 80px
  margin-bottom 50px
  overflow: hidden
  min-height 800px
