.final-subject-set-browser
  ul
    list-style none
    padding-left 0

  .json-link
    width auto
    float right
    margin-left 10px


  // Search page:

  form
    padding-bottom 1em

    input
      vertical-align middle

    input#data-search
      font-size 2em
      margin-right 10px

  .loading-indicator
    width 100px
    margin 100px auto
    color black
    position inherit
    display block

  ul.results
    li
      display inline-block
      margin 0 10px 10px 0
      width 400px
      height 150px
      overflow hidden

      a
        color #2b3a42
        text-decoration none

      .image
        width 170px
        float left

      .matches
        width 200px
        float left

        .match
          padding-bottom 0.5em
          line-height 1.5em

          .field
            font-weight bold

            &:after
              content ":"

          .term
            padding-left 1em

            em
              font-weight bold
              color TERTIARY_NORMAL


  // Set page:
  .final-subject-set-page
    img.standard-image
      max-width 600px

    h3
      clear both
      margin-bottom 0

    ul.assertion-data
      clear left

      li
        color gray

        span.value
          font-weight bold
          color #2b3a42

        span.data-key
          margin-left 20px

    dl.assertion-properties
      clear left

      dt,dd
        display inline
        color gray

      dt
        &:after
          content ":"

      dd
        margin-left 10px
        margin-right 40px

        &.confidence-med
          background-color yellow

        &.status-complete, &.confidence-max, &.confidence-high
          background-color lime

    .show-region-link
      font-size 12px

    .image-crop
      opacity 0.7

      transition: height 0.3s ease-out

      &.showing
        border solid gray 1px


      &:hover
        opacity 1
    
