.forum-subject-widget
  overflow hidden

  h2
    font-size 20px
    margin-top 0

  form
    width 50%
    float right
    text-align right

    input 100%

  ul
    list-style none
    padding-left 0

    li
