.forum-subject-widget
  border solid white 1px
  padding 10px
  overflow hidden
  margin-top 20px;

  h2
    font-size 20px
    margin-top 0

  form
    width 50%
    float right
    text-align right

