
.groups
  display: flex
  flex-direction: 'row'
  width: 100%

.group
  width: 300px
  margin: 20px

.group img
  width: 200px

.group-page
  box-model: border-box
  padding: 50px
  margin-top:100px

.subject_set
  margin: 0px 20px
  img
    width: 200px

.subject_sets
  width: 100%
  display: flex
  margin-top: 20px

dl.metadata-list
  dt
    text-transform capitalize

.mark-transcribe-buttons
  a
    margin-right 10px
