
.groups
  padding 0
  margin 0
  list-style none


  flexbox(flex)
  flex-direction(row)
  flex-wrap(wrap)
  flex-flow row wrap
  // flex-wrap(nowrap)

  justify-content space-around
  -webkit-justify-content space-around

  // prevent highlighting/selecting
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.group
  background: green;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  // line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border 5px solid #fff
  box-shadow 0 0 0 1px silver

  .group-name
    display none
    top -210px
    position relative
    font-family Domine, serif
    font-size 24px
    text-align center
    text-transform uppercase
    text-shadow 0 2px 5px rgba(0,0,0,.75)
    &.active
      display block

  .button-container
    position relative
    display inline-block
    opacity 0
    top -5px
    left -5px
    height 210px
    width 310px
    background rgba(43,58,66,0.90)
    transition opacity .3s

    &.active
      transition opacity .3s
      opacity 1

    a
      letter-spacing: .03em;
      border-radius: 4px;
      font-weight: 80;
      text-align: center;
      border-color #8CBC8B
      color #fff
      display block
      margin-left auto
      margin-right auto
      margin-top 20px
      margin-bottom 20px
      line-height 20px
      font-size 20px
      padding 10px
      width 200px

.group-page
  box-model: border-box

  .group-image
    max-width 400px
    max-height 500px
    float right
    margin-bottom 10px
  p
    font-size 1.3em

.subject_set
  margin: 0px 20px
  img
    width: 200px

.subject_sets
  width: 100%
  display: flex
  margin-top: 20px

dl.metadata-list
  dt
    text-transform capitalize

.mark-transcribe-buttons
  button
    margin-right 10px
