.home-page
  background-color: inherit
  color:  #efefef;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 68px;/* Approximation due to font substitution */
  margin 10px auto

  h1
    font-family: clarendon-text-pro
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center
    color:  #ffffff;
    margin-bottom: 0%
    padding 0

  .page-content > div
    max-width 800px
    margin 0 auto
    padding 0

  p
    font-family: ProximaNova, 'Helvetica Neue'
    font-size: 100%
    letter-spacing: 0.03em

  p, li, h1, h2, h3, hr
    color white

  a
    text-decoration: none
    
  div.metadata-search
    background-color rgba(63, 87, 101, 0.7);
    max-width: 450px;
    width: 44%;
    margin: 0 auto;
    padding: .8%;
    line-height: .2
    border-radius: 0.25em;
    position: relative
    input
      text-indent: 35px
    #search-icon
      position: absolute;
      top: 30%;
      left: 4%;

  input[type="text"]
    border-radius: 0.25em;
    background-color:  #ffffff;
    width: 98%;
    height: 30px;
    font-size: .5em

  #fancyor
    color:  #efefef;
    padding-left: 10%;
    padding-right: 1.6em;
    font-size: 17px;/* Approximation due to font substitution */
    font-style: italic;
    line-height: 28px;/* Approximation due to font substitution */
    text-align: center;

  #decision-area
    width: 100%
