.home-page
  background-color: inherit
  padding-top: 6%;
  font-family: Quando
  color:  #efefef;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 300;
  line-height: 68px;/* Approximation due to font substitution */
  text-align: center;

  h1
    margin-bottom: 0%
  p 
    font-family: SANS_SERIF
    font-size: 100%
    letter-spacing: 0.03em
 
  a
    display:inline-block
    letter-spacing: .03em;
    color: white
    border-radius: 4px;
    background-color:  #8cbc8c;
    width: 200px;
    line-height: 1em;
    color: #ffffff;
    font-size: 20px; 
    font-weight: 80;
    text-align: center;
    height: auto;
    padding: .5em 0

    &:hover
      border-radius: 4px;
      background-color: #A2C7A2;

  #record-search
    background-color: #8cbc8c;
    display: inline-block;
    width: 50%
    margin: 5%;
    padding: .8%;
    line-height: .2
    border-radius: 0.25em;

  input[type="text"]
    border-radius: 0.25em;
    background-color:  #ffffff;
    width: 98%;
    height: 30px;
    font-size: .5em

  
  #fancyor
    color:  #efefef;
    padding: 0 1.25em
    font-size: 17px;/* Approximation due to font substitution */
    font-style: italic;
    line-height: 28px;/* Approximation due to font substitution */
    text-align: center;

  #decision-area
    width: 100%


