.image-subject-viewer
  // position absolute
  margin-top 40px
  // width 100%
  text-align center
  .subject-container    
    // background-color #fff
    // background none
    margin-bottom 80px
    .marking-surface
      width 840px
      text-align center
      display inline-block
    .subject-ui
      background-color rgba(0,0,0,0.75)
      position fixed
      bottom 0px
      width 100%
      height 80px
  .subject-viewer-svg
    width 840px
    height 100%
    .drawing-tool
      cursor grab
      cursor -webkit-grab
      &:active
        cursor grabbing
        cursor -webkit-grabbing
      .drawing-tool-resize-button
        cursor row-resize
        cursor -webkit-row-resize
        &:active
          cursor grabbing
          cursor -webkit-grabbing
      .drawing-tool-delete-button
        cursor pointer