.light-box-area
  background-color: transparent
  float left
  margin-top: 3em
  .action-button
    position: relative
    margin-bottom: 1.5em
    
    width: 80%
    opacity: 1.0
  ul
    padding-left 0
    list-style none
    text-align left

