.light-box-area
  height: 100%
  background-color: #121215
  float left
  margin-top: 3em

  .carousel
    position fixed
    width 150px
    background-color black

  .action-button
    padding: 0;
    color: #3f5765
    border-style: solid;
    border-width: 1px;
    border-color: #3f5765
    border-radius 0
    text-align center
    width: 45%
    background-color:  #ffffff;
    top: 0px;
    margin: 0px;
    position: relative;
    opacity: 1;

  ul
    padding-left 0
    list-style none

    li
      transition border 0.3s, background 0.3s
      border 1px solid rgba(0,0,0,0)
      &.active
        transition border 0.3s, background 0.3s
        background-color: #3A3A3A
      &:hover
        border 1px solid MEDIUM_GRAY

