.light-box-area
  height: 100%
  background-color: #121215
  float left
  margin-top: 3em

  .carousel
    position fixed
    width 150px
    background-color black

  #visibility-button
    line-height: 2;
    background-color:  #ffffff;
    width: 100%;
    height: 30px;
    font-family: ProximaNova;
    color:  rgba(63, 87, 101, 0.7);
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 400;
    text-align: center;
    border-bottom: solid 3px #3f5765;

  .action-button-next
    padding: 0;
    background-color:  #ffffff;
    height: 30px
    line-height: 2;
    color: #3f5765
    border-radius 0
    text-align center
    width: 49%
    top: 0px;
    margin: 0px;
    position: relative;
    opacity: 1;
    
  .action-button-back
    border-right: solid 3px #3f5765;
    background-color: #ffffff;
    padding: 0;
    height: 30px
    line-height: 2;
    color: #3f5765
    border-radius 0
    text-align center
    width: 49%
    top: 0px;
    margin: 0px;
    position: relative;
    opacity: 1;



  ul
    padding-left 0
    list-style none

    li
      transition border 0.3s, background 0.3s
      border 1px solid rgba(0,0,0,0)
      align-items: center
      &.active
        transition border 0.3s, background 0.3s
        background-color: #3A3A3A
      &:hover
        border 1px solid MEDIUM_GRAY




