.main-header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  height 40px

.main-header-group
  position: fixed
  top 0px
  width 100%
  background: rgba(0,0,0,0.75)

  display: flex
  flex-direction: row
  flex-wrap: wrap
  border: 0 solid rgba(FOREGROUND, 0.5)
  border-bottom-width: 1px
  border-right-width: 1px


  &:empty
    flex: 1

.main-header-item
  @extends $reset-button
  align-items: center
  background: rgba(MAIN_HIGHLIGHT, 0)
  cursor: auto
  color: MAIN_HIGHLIGHT
  cursor: normal
  display: flex
  padding: 0.5rem 1.5vw 0.2em
  white-space: nowrap
  border-right: 1px solid rgba(FOREGROUND, 1.0)
  // &:not(:last-child)
  //   border-right: 1px solid rgba(FOREGROUND, 0.85)
    
  &:hover
    background: rgba(MEDIUM_GRAY, 0.5)

  &.logo
    font-size: 1.3em
    letter-spacing: 0.05em
    line-height: 1
    text-transform: uppercase

  > a
    color: inherit
    text-decoration: none
    
a.main-header-item
  box-shadow: 0 0 0 inset
  transition: box-shadow 0.2s

  &[data-active]
    box-shadow: 0 -3px 0 inset

.account-bar-avatar
  border-radius: 50%
  height: 3rem
  margin: -1.5rem 0 -1.5rem 1vw
  position: relative
  width: 3rem
