
.main-header-group
  background: rgba(0, 0, 0, 0.35);
  max-heigth: 50px
  position fixed
  top 0px
  width 100%
  height 72px

  flexbox(flex)
  border: 0 solid rgba(FOREGROUND, 0.5)
  z-index 100

  // disable selecting text
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.main-header-item
  @extends $reset-button
  outline none
  overflow: hidden
  align-items: center
  background: rgba(MAIN_HIGHLIGHT, 0)
  border-radius: 2
  color: white
  cursor: normal
  flex(grow: 1)
  // padding: 0.5rem 1.5vw 0.2em
  padding 0 10px 0
  white-space: nowrap
  box-shadow: 0 0 0 inset
  transition: box-shadow 0.2s
  text-transform: uppercase
  letter-spacing: .2em
  text-align center
  line-height 72px

  &[data-active]
    box-shadow: 0 -3px 0 inset

  &:hover
    background: rgba(MEDIUM_GRAY, 0.3)

  &.logo
    img
      width 42px
      height 42px
      margin-top 10px
    color:  #efefef;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    // line-height: 36px;
    text-align: center;
    transform: rotate(-11.719deg)
    &:hover
      background: transparent
    &.selected
      background: transparent
      border-bottom: none;

  &.selected
    background: rgba(MEDIUM_GRAY, 0.5)
    transition border 0.3s, background-color 0.3s
    border-bottom: solid 2px #8cbc8c;


  > a
    color: inherit
    text-decoration: none

.account-bar-avatar
  border-radius: 50%
  height: 3rem
  margin: -1.5rem 0 -1.5rem 1vw
  position: relative
  width: 3rem

.login
  @extends $reset-button
  flex(grow: 10)
  color rgba(255, 255, 255, 0.4)
  overflow: hidden
  align-items: center
  text-transform: uppercase
  line-height 4.5em

  img
    max-height 20px
    margin-right 8px

  .guest-hello
    padding-right 10px

  .logout
    padding-left 6px

  &:hover
    color white

  .options
    width 100px
    display inline-block
    padding-left 6px

    a
      margin-right 5px
      text-transform capitalize
      display inline-block
      width 18px
      height 18px
      line-height 18px
      font-size 12px
      text-align center
      color #000
      background none repeat scroll 0 0 rgba(255, 255, 255, 0.4)
      border-radius 50%

      &:hover
        color #fff

@media all and (max-width: 1100px)
  .login .label
    display none
