.main-header
  // display: flex
  // flex-wrap: wrap
  // justify-content: space-between
  height 40px
  max-height 40px

.main-header-group
  position: fixed
  top 0px
  width 100%
  background: rgba(0, 0, 0, 0.18);

  display: flex
  flex-direction: row
  flex-wrap: wrap
  border: 0 solid rgba(FOREGROUND, 0.5)
  z-index 100

  &:empty
    flex: 1

  // disable selecting text
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.main-header-item
  @extends $reset-button
  outline none
  overflow: hidden
  align-items: center
  background: rgba(MAIN_HIGHLIGHT, 0)
  border-radius: 2
  color: white
  cursor: normal
  display: flex
  padding: 0.5rem 1.5vw 0.2em
  white-space: nowrap


  &:hover
    background: rgba(MEDIUM_GRAY, 0.5)

  &.logo
    color:  #efefef;
    font-size: 24px;/* Approximation due to font substitution */
    font-weight: 700;
    font-style: italic;
    line-height: 36px;/* Approximation due to font substitution */
    text-align: center;
    transform: rotate(-11.719deg);/* width and height properties ommitted due to transform */

    
    &:hover
      background: transparent
    &.selected
      background: transparent

  &.selected 
    background: rgba(MEDIUM_GRAY, 0.5)
    transition border 0.3s, background-color 0.3s


  > a
    color: inherit
    text-decoration: none

a.main-header-item
  box-shadow: 0 0 0 inset
  transition: box-shadow 0.2s
  text-transform: uppercase
  letter-spacing: .2em


  &[data-active]
    box-shadow: 0 -3px 0 inset

.account-bar-avatar
  border-radius: 50%
  height: 3rem
  margin: -1.5rem 0 -1.5rem 1vw
  position: relative
  width: 3rem

.login
  line-height: 4
  padding: 0.5rem 1.5vw 0.2em
  color rgba(255, 255, 255, 0.4)

  img
    max-height 20px
    margin-right 8px

  .guest-hello
    padding-right 10px

  .logout
    padding-left 6px

  &:hover
    color #fff

  .options
    width 100px
    display inline-block
    padding-left 6px

    a
      margin-right 5px
      text-transform capitalize
      display inline-block
      width 18px
      height 18px
      line-height 18px
      font-size 12px
      text-align center
      color #000
      background none repeat scroll 0 0 rgba(255, 255, 255, 0.4)
      border-radius 50%

      &:hover
        color #fff
