.subject-viewer
  // position absolute
  position relative
  margin-top 40px
  // width 100%
  text-align center
  display none
  &.active
    display block
  .subject-container
    // background-color #fff
    // background none
    margin-bottom 20px
    .marking-surface
      width 840px
      text-align center
      display inline-block
    .subject-ui
      background-color rgba(0,0,0,0.75)
      position fixed
      bottom 0px
      width 100%
      height 80px
  .subject-viewer-svg
    border 2px solid #000
    width 840px
    height 100%
    rect.previous-mark
      opacity 0.5
      transition 0.25s
    rect.previous-mark:hover
      opacity: 1.0
      transition 0.25s
  .button
    @extends $button
