.subject-set-viewer
  // width: 100%
  // margin-top 20px
  margin-bottom 80px
  margin-left 60px
  transition: margin 0.5s
  -webkit-transition: margin 0.5s

  flexbox(flex)

  &.expand
    margin-left: 208px

  &.single-page
    .light-box-area
      display none
