.subject-zoom-pan
  width: 130px
  height: 130px
  background: rgba(0, 0, 0, 0.7)
  border: 2px solid #444444
  border-radius: 65px
  z-index: 99
  position: relative

  &:before
    content: ' '
    display: block
    border: 1px solid #333333
    width: 70px
    height: 70px
    position: absolute
    top: 50%
    left: 50%
    margin-top: -36px
    margin-left: -36px
    background-color: rgba(255,255,255,0.1)

  &:after
    content: ' '
    display: block
    width: 70px
    height: 0px
    border-top: 1px solid rgba(255,255,255,0.1)
    position: absolute
    top: 50%
    left: 50%
    margin-left: -35px

  .pan, .zoom, .reset
    position:absolute
    background: transparent
    color: white
    border: none
    cursor: pointer

    &.disabled
      opacity: 0.4
      cursor: default

  .zoom
    width:35px
    height:35px
    font-size: 30px
    line-height: 35px
    text-align: center
    top: 50%
    margin-top: -35px
    left: 50%

    &.in,
    &.out
      &:before
        position: absolute
        top: 50%
        left: 50%
        width: 35px
        height: 35px
        margin-left: -17.5px
        margin-top: -22px
    &.out
      margin-left: -35px
      &:before
        content: '-'
        margin-top: -20px
    &.in
      margin-left: 0
      border-left: 1px solid rgba(255,255,255,0.1)
      &:before
        content: '+'

  .pan
    &:before
      content: ' '
      display: block
      width: 0
      height: 0
      border-left: 12px solid transparent
      border-right: 12px solid transparent
      border-bottom: 12px solid rgba(255, 255, 255, 0.8)
      position: absolute
      left: 50%
      top: 50%
      margin-left: -12px
      margin-top: -6px

    &.up, &.down
      width: 50px
      height: 20px
      left: 50%
      margin-left:-25px

    &.up
      top: 5px

    &.down
      bottom: 5px
      &:before
        transform: rotate(180deg)
        -webkit-transform: rotate(180deg)

    &.left, &.right
      width: 20px
      height: 50px
      top: 50%
      margin-top:-25px

    &.left
      left: 5px
      &:before
        transform: rotate(-90deg)
        -webkit-transform: rotate(-90deg)

    &.right
      right: 5px
      &:before
        transform: rotate(90deg)
        -webkit-transform: rotate(90deg)

    &:hover
      &:before
        border-bottom: 12px solid white

  .reset
    width: 64px
    height: 20px
    top:50%
    margin-top: 8px
    left:50%
    margin-left:-32px
    font-size:10px
