.subject-set-toolbar
  height: 100%
  width: 60px
  flex(shrink: 1)
  margin-left: 0
  position: fixed
  top: 72px
  left: 0
  z-index: 1000
  padding-top: 20px
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.subject-set-toolbar-links
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 900
  background: #192426
  padding-top: 20px

  a
    display: block
    position: relative
    width: 60px
    height: 60px
    color: #fff
    cursor: pointer
    opacity: 0.7
    text-align: center
    transition: background 0.5s, color 0.5s
    -webkit-transition: background 0.5s, color 0.5s

    &:before,
    &:after
      font-family: "FontAwesome"
      line-height: 60px

    &:hover,
    &.active
      opacity: 1

    &.active
      background-color: #cbcbcb
      color: #222
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px

      &:after
        content: "\f0d9"
        font-size: 18px
        margin-left: 5px

    &:before
      display: inline-block
      font-size: 30px

    &.toggle-multi-page:before
      content: "\f0c5"

    &.toggle-pan-zoom:before
      content: "\f00e"

    &.disabled
      display: none

    .helper
      display: none
      position: absolute
      height: 40px
      width: 100px
      top: 50%
      left: 60px
      margin-top: -20px
      font-size: 12px
      padding: 6px
      background: #3f5765
      color: #fff
      justify-content: center
      align-content: center
      flex-direction: column
      z-index: 1000
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4)

      &:before
        content: ' '
        position: absolute
        top: 50%
        left: -6px
        margin-top: -3px
        width: 0
        height: 0
        border-top: 6px solid transparent
        border-bottom: 6px solid transparent
        border-right: 6px solid #3f5765

    &:hover .helper
      display: -webkit-box
      display: -moz-box         
      display: -ms-flexbox     
      display: -webkit-flex
      display: flex

    &.active:hover .helper
      display: none

.subject-set-toolbar-panes
  position: absolute
  top: 0
  left: 0
  z-index: 800

  .pane
    position: absolute
    width: 150px
    height: 440px
    left: -150px
    box-sizing: border-box
    transition: left 0.5s
    -webkit-transition: left 0.5s
    z-index: 800
    background: #cbcbcb
    border-top-right-radius: 12px
    border-bottom-right-radius: 12px

    &.active
      left: 60px

    &.pan-zoom
      height: 140px
      padding: 3px


    &.social-media-container
      width: auto
      padding: 3px

      i
        color #3f5765
        cursor pointer
        padding 2px
        &:hover
          transition color 0.2s
          color #8cbc8c

.fa.fa-comments-o
  border-top: solid #efefef 1px;



