.subject-set-toolbar
  height: 100%
  width: 60px
  flex(shrink: 1)
  margin-left: 0
  position: fixed
  top: 72px
  left: 0
  z-index: 1000
  padding-top: 20px
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.subject-set-toolbar-links
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 900
  background: rgba(0,0,0,0.9)
  padding-top: 20px

  a
    display: block
    font-family: "FontAwesome"
    color: #fff
    width: 60px
    height: 60px
    line-height: 60px
    text-align: center
    cursor: pointer
    opacity: 0.7
    transition: background 0.5s, color 0.5s
    -webkit-transition: background 0.5s, color 0.5s

    &:hover,
    &.active
      opacity: 1

    &.active
      background-color: #cbcbcb
      color: #222
      border-top-left-radius: 6px
      border-bottom-left-radius: 6px

      &:after
        content: "\f0d9"
        font-size: 18px
        margin-left: 5px

    &:before
      display: inline-block
      font-size: 30px

    &.toggle-multi-page:before
      content: "\f0c5"

    &.toggle-pan-zoom:before
      content: "\f00e"

    &.disabled
      display: none

.subject-set-toolbar-panes
  position: absolute
  top: 0
  left: 0
  z-index: 800

  .pane
    position: absolute
    width: 150px
    height: 100%
    left: -150px
    box-sizing: border-box
    transition: left 0.5s
    -webkit-transition: left 0.5s
    z-index: 800
    background: #cbcbcb
    border-top-right-radius: 12px
    border-bottom-right-radius: 12px

    &.active
      left: 60px

    &.pan-zoom
      height: 140px
      padding: 3px
