.text-entry
  position absolute
  bottom 80px
  // height 40px
  // width 100%
  width 480px
  background-color rgba(255,255,255,0.75)
  border-radius 6px
  line-height 2em

  .left
    // background-color rgb(20,100,20)
    float left
    input
      float left
      margin-left 10px
      outline none
    .input-field
      display none // auto hide
      input
        // text-transform uppercase
      label
        display inherit
        margin-left 10px
        color black
      &.active
        display block
        
  .right
    line-height 4em
    margin-right 20px
    float right

  .button
    @extends $button
    color #fff
    border-radius 4px
    padding 5px
    margin 2px
    width 140px
    height 30px
    text-decoration none
    font-size 12px
    // border 2px solid #fff
    cursor pointer
    opacity 0.75