.transcribe-tool-container
  .transcribe-tool
    position fixed
    width 480px
    left 240px
    top 75%
    background-color rgba(255,255,255,0.75)
    box-shadow 0 0 5px 3px rgba(0,0,0,.4)
    border-radius 6px
    line-height 2em
    cursor move

    .left
      // background-color rgb(20,100,20)
      float left
      input
        float left
        margin-left 10px
        outline none
      .input-field
        display none // auto hide
        input
          // text-transform uppercase
        label
          display inherit
          margin-left 10px
          color black
        &.active
          display block
          
    .right
      line-height 4em
      margin-right 20px
      float right

    .button
      outline none
      @extends $button
      color #fff
      border-radius 4px
      padding 5px
      margin 2px
      // width 140px
      width auto
      height 30px
      text-decoration none
      font-size 12px
      // border 2px solid #fff
      cursor pointer
      opacity 0.75
      &.prev
        background-color blue
      &.next
        background-color red
      &.done
        background-color green

