.simple-progress-bar
  background-color: transparent
  position: relative
  margin 10px 20px
  text-align: center
  border-radius: .5em;

.tutorial-progress-ind
  background-color: transparent;
  border: solid 1px #8CBC98;
  display: inline-block
  height: 5px;
  width: 5px;
  margin: 3px;
  vertically-align: middle

.tutorial-progress-ind-active
  background-color: #8CBC98;
  border: solid 1px #8CBC98;
  display: inline-block
  height: 5px;
  width: 5px;
  margin: 3px;
  vertically-align: middle

