.simple-progress-bar
  background-color: transparent
  position: relative
  width: 90%;
  margin: 5%;
  text-align: center
  border-radius: .5em;

.tutorial-progress-ind
  background-color: #8cbc8c;
  display: inline-block
  height: 5px;
  width: 5px;
  margin: 3px;
  vertically-align: middle

.tutorial-progress-ind-active
  background-color: #3f5765;
  display: inline-block
  height: 5px;
  width: 5px;
  margin: 3px;
  vertically-align: middle

