.simple-progress-bar
  background-color: #3f5765
  position: relative
  width: 90%;
  margin: 5%;
  text-align: left
  border-radius: .5em;

.tutorial-progress-ind
  background-color: #8cbc8c;
  display: inline-block
  height: 3px;
  vertically-align: middle
