
.verify-tool-choices

  label
    margin 1em

  ul
    padding-left 0
    list-style none
    text-align left

    li
      ul.choice
        margin-left 1em
        margin-bottom 1em
        padding 0.5em

        background-color white
        border-radius 6px

        font-weight bold

        span
          padding-right 30
          font-weight normal
