<div id="about-page">
  <div id="about-intro">
    <h2>About the Project</h2>

    <h3>Welcome to Old Weather: Whaling!</h3>

    <p>Old Weather: Whaling is the sister project of the Zooniverse’s successful and ongoing Old Weather, run by the same team. These projects allow online volunteers to assist in exploring, marking, and transcribing ship’s logs, largely from the 19th and early 20th centuries. Like the original Old Weather, OW:W is about extracting historic weather measurements (and other data) from these logs. However, OW:W offers particular focus on observations of sea ice, which many whaling ships sailed through and documented while navigating Arctic waters.</p>

    <p>By participating in Old Weather: Whaling, you’ll be helping to advance research in multiple fields. Data about sea ice and other weather events are useful  to climate scientists, while historians value knowing the course of a voyage and the events that transpired on board. You might even discover something that takes everyone by surprise. We hope you’ll join us on this exciting dive into maritime history!</p>

    <h3>Why we’re studying old whaling logs and sea ice</h3>

    <p>As whale populations along shorelines and in warmer waters were hunted down in the 1800’s, whalers were increasingly forced to brave dangerous and frigid Arctic seas, filled with ice floes and icebergs, to find their prey. Because of this, their logbooks contain rare, valuable, and accurate climate observations from locations where few others dared venture. These historical observations can assist tremendously with filling in the gaps in our knowledge of past sea-ice conditions, and will help scientists improve to improve our understanding of all forms of weather variability in the past and so improve our ability to predict weather and climate in the future.</p>

    <p>The loss of Arctic sea ice is a leading indicator of climate change, but we have little readily accessible historical information on the state of the ice prior to the advent of the satellite era. A more complete long-term sea-ice data set is required to place current observations in historical context. This will enable new understanding of past variations in the Arctic sea-ice cover needed to increase confidence in future model projections, and will improve computer reconstructions of large-scale climate patterns that require an accurate depiction of sea-ice extent and concentration. Scientists will also be able to investigate the complex ecological role played by sea ice over longer time scales.</p>

    <h3>Why we need you, and what we do with your work</h3>

    <p>The task of digitizing logbooks is nearly impossible for computers, due to diverse and idiosyncratic handwriting that only human beings can read well. For an individual researcher, or a small team, this means that digitizing thousands of logbooks presents an extremely daunting challenge! However, by harnessing the efforts of volunteers online, not only can we transcribe these logs much more quickly, but we can do it more accurately as well. Since several people look at each log, errors are filtered out and correct transcriptions are almost always achieved.</p>

    <p>The data you extract from the logbooks will be used by scientists, geographers, historians, and the public around the world. Anyone with an interest in the data will be able to access it and use it. In this form, it can also be used by supercomputers that run sophisticated climate models. By using historical observations to reconstruct changing sea-ice conditions climate scientists can gain the understanding necessary to make better climate projections.</p>

    <p>_Want to learn more?_ Check out [videos from the research team](http://demo.zooniverse.org/oldweather/#/about/why) over at Old Weather.</p>

  </div>
</div>
