<div class="home-page">
  <div class="tagline">
    Explore the Arctic of the past from the deck of a whaling ship.
  </div>

  <p class="project-summary">
  Whalers have sought their quarry in perilous Arctic waters for centuries. Discover in their ships' logbooks new clues about climate and history. Scientists and historians alike have much to learn from these logs - but first they need your help to mark and transcribe them.
  </p>

  <div className='decision-area'>
    <a class="standard-button" href="/#/mark">Start Marking</a>
    <span id='fancyor'>or</span>
    <a class="standard-button" href="/#/transcribe">Start Transcribing</a>
  </div>

</div>
