<div class="title-container">

  <div class="old-weather-text">
    <p>Old</p>
    <p>Weather</p>
  </div>

  <div class="whaling-text">
    <p>|</p>
    <p>Whaling</p>
  </div>

  <div class="tagline">
    Explore the Arctic of the past from the deck of a whaling ship.
  </div>

  <div class="project-summary">
    Whalers have sought their quarry in perilous Arctic waters for centuries. Discover in their ships' logbooks new clues about climate and history. Scientists and historians alike have much to learn from these logs - but first they need your help to mark and transcribe them.
  </div>

  <div class="old-weather-link">
    <a href="http://classic.oldweather.org">Check out other Old Weather projects &#10146;</a>
  </div>

  <div class="button-container">
    <a class="standard-button" href="/#/mark">
      Start Marking
      <span class="arrow">&#10146;</span>
    </a>
    <a class="standard-button" href="/#/transcribe">
      Start Transcribing
      <span class="arrow">&#10146;</span>
    </a>
  </div>

</div>
