<div class="home-page">
  <div class="tagline">Explore the documented adventures of whaling ships in the Arctic.</div>
  <div class="tagline">Discover in their writings new clues about climatology and history.</div>

  <p class="project-summary">Whalers have sought their quarry in perilous Arctic waters for centuries. Their ships’ logbooks contain detailed observations of the often difficult weather and sea-ice conditions they faced, as well as first-hand accounts of all kinds of events. Climate scientists and historians alike have much to learn from these logs—but first they need your help to mark and transcribe them.</p>

  <div className='decision-area'>
    <a class="standard-button" href="/#/mark">Start Marking</a>
    <span id='fancyor'>or</span>
    <a class="standard-button" href="/#/transcribe">Start Transcribing</a>
  </div>

</div>
