Explore the documented adventures of whaling ships in the Arctic.
<div className='decision-area'>
  <a href="/#/mark">Start Marking</a> <span id='fancyor'>or</span><a href="/#/transcribe">Start Transcribing</a>
</div>
