<div id="team-page">
  <div class="selected-content">

    <span class="team-member">
      <img height="200" width="200" src="images/Rob_Allan.jpg">
      <p class="team-member-bio">**Rob Allan** is based at the Met Office Hadley Centre where he leads the international Atmospheric Circulation Reconstructions of the Earth (ACRE) initiative (http://www.met-acre.org). Old Weather is a part of the international outreach arm of ACRE.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Philip_Brohan.jpg">
      <p class="team-member-bio">**Philip Brohan** is a climate scientist at the Met Office Hadley Centre, where he tries to combine information from old documents, tree-rings and large computers, into a clear picture of what the weather used to be like.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Gil_Compo.jpg">
      <p class="team-member-bio">**Gil Compo** is a climate scientist leading the 20th Century Reanalysis Project at the Cooperative Institute for Research in the Environmental Sciences of the University of Colorado at Boulder and is an affiliate of the NOAA Earth System Research Laboratory. He has a blast using supercomputers to reconstruct the weather from the surface of the earth to the level of the jet stream as far back as Old Weather can go.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Michael_Lapides.jpg">
      <p class="team-member-bio">**Michael Lapides** is the Director of Digital Initiatives at the New Bedford Whaling Museum and leads the logbook digitization effort for Old Weather - Whaling.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Mark_Mollan.jpg">
      <p class="team-member-bio">**Mark Mollan** is an archivist in the Navy/Maritime section of the U.S. National Archives and coordinates Old Weather project activities at the Archives.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Mark_Procknik.jpg">
      <p class="team-member-bio">**Mark Procknik** is the Librarian at the New Bedford Whaling Museum and provides access to primary sources at the Research Library.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Gordon_Smith.jpg">
      <p class="team-member-bio">**Gordon Smith**, a one-time engineer, military operations analyst and human relations manager, lost his father in action at sea in 1943. Wanting to discover more, he wrote a couple of naval history books in his 40's and then started Naval-History.net to help others do the same. Long-retired, he loves sailing.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Clive_Wilkinson.jpg">
      <p class="team-member-bio">**Clive Wilkinson** is research manager for the Recovery of Logbooks and International Marine Data (RECLAIM) Project (http://icoads.noaa.gov/reclaim), a part of NOAA's Climate Database Modernisation Program. He is based at the Climatic Research Unit at the University of East Anglia.</p>
    </span>

    <span class="team-member">
      <img height="200" width="200" src="images/Kevin_Wood.jpg">
      <p class="team-member-bio">**Kevin Wood**, U.S. Old Weather - Arctic lead investigator, is a climate scientist at the NOAA – University of Washington Joint Institute for the Study of the Atmosphere and Ocean.</p>
    </span>

    <p>This project was built by Sascha Ishikawa (Zooniverse/Adler Planetarium) using [Scribe](http://scribe.nypl.org), a framework for crowdsourcing the transcription of text-based documents.</p>

  </div>
</div>
