<div id="team-page">
  <div class="selected-content" >
    <p>**Rob Allan** is based at the Met Office Hadley Centre where he leads the international Atmospheric Circulation Reconstructions of the Earth (ACRE) initiative (http://www.met-acre.org). Old Weather is a part of the international outreach arm of ACRE.</p>
    <p>**Philip Brohan** is a climate scientist at the Met Office Hadley Centre, where he tries to combine information from old documents, tree-rings and large computers, into a clear picture of what the weather used to be like.</p>
    <p>**Gil Compo** is a climate scientist leading the 20th Century Reanalysis Project at the Cooperative Institute for Research in the Environmental Sciences of the University of Colorado at Boulder and is an affiliate of the NOAA Earth System Research Laboratory. He has a blast using supercomputers to reconstruct the weather from the surface of the earth to the level of the jet stream as far back as Old Weather can go.</p>
    <p>**Michael Lapides** is the Director of Digital Initiatives at the New Bedford Whaling Museum and leads the logbook digitization effort for Old Weather - Whaling.</p>
    <p>**Mark Mollan** is an archivist in the Navy/Maritime section of the U.S. National Archives and coordinates Old Weather project activities at the Archives.</p>
    <p>**Mark Procknik** is the Librarian at the New Bedford Whaling Museum and provides access to primary sources at the Research Library.</p>
    <p>**Gordon Smith**, a one-time engineer, military operations analyst and human relations manager, lost his father in action at sea in 1943. Wanting to discover more, he wrote a couple of naval history books in his 40's and then started Naval-History.net to help others do the same. Long-retired, he loves sailing.</p>
    <p>**Clive Wilkinson** is research manager for the Recovery of Logbooks and International Marine Data (RECLAIM) Project (http://icoads.noaa.gov/reclaim), a part of NOAA's Climate Database Modernisation Program. He is based at the Climatic Research Unit at the University of East Anglia.</p>
    <p>**Kevin Wood**, U.S. Old Weather - Arctic lead investigator, is a climate scientist at the NOAA – University of Washington Joint Institute for the Study of the Atmosphere and Ocean.</p>
  </div>
</div>
