<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= stylesheet_link_tag    "dashboard", media: "all" %>
  <%= javascript_include_tag "dashboard" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
